.register-breb-key
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: auto 0
    padding: 8px 16px
    &__icon
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: auto 0
        gap: 8px
        i.icon
            color: #2666EC
            font-size: 16px
    &__detail
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: auto 0
        gap: 8px
        i.icon
            color: #2666EC
    &__text
        color: #2666EC
        .icon-more
            font-size: 16px
            padding-right: 4px
