@import 'utils'

.non-enrolled-modal
  padding: 0 $spacer-2
  text-align: center

  &-icon
    margin: 10vh 0 5vh

    img
      width: 72px

  &-title
    font-size: 18px
    margin-bottom: $spacer-2

  &-button
    margin: $spacer-4 0
