.contact-detail-container

  .contact-info-card
    padding: 20px 15px 60px
    background-color: var(--gray-4)

    .contact-title
      display: inline-block
      margin: 0 0 5px 0
      font-weight: 600
      max-width: 92%

      span
        color: var(--gray-2)
        font-size: 16px
        font-weight: normal

    .contact-identification
      margin: 0
      color: var(--gray-2)

    .contact-phone
      color: var(--gray-1)
      display: flex
      align-items: center
      margin-top: 20px

      span
        font-size: 24px
        margin-right: 10px

    .contact-actions
      font-size: 24px
      position: absolute
      top: 20px
      right: 16px

  .contact-products
    padding: 0 16px
    margin-top: -30px

    .avv-skeleton
      height: 177px
      margin-bottom: 20px
