@import 'utils'

.transfer-request-money
  ::ng-deep
    .form-input
      padding: 0
      margin-bottom: $spacer-2

  &-contact-card
    border: none
    box-shadow: 0 2px 8px 0 rgba(65, 74, 83, 0.3)
    margin-bottom: 16px

    .contact
      &-image
        background-color: #6a81e7

      &-info
        padding-top: 10px

        .icon
          color: var(--blue-2)
          position: absolute
          top: 27%
          right: 12px
          font-size: 24px

  &-information-link
    padding-left: 0
    margin-bottom: 40px

  &-contacts-link
    font-size: 14px
    width: 100%
    height: 48px
