@import 'utils'

.pockets-edit-step
  padding: $spacer-2 $spacer-2
  min-height: 90vh
  font-size: 0

  figure img
    display: block
    margin: 0 auto

  &-title
    padding: $spacer-2 0 $spacer-2
    text-align: center
    line-height: 1.5

  &-sub-title
    margin-bottom: $spacer-4

  &-installments
    font-size: 14px
    margin: $spacer-2 0 $spacer-4
    text-align: left

  .quota-hint
    margin-bottom: 12px

  &-form
    ::ng-deep
    .form-input
      padding: 0
      margin-bottom: 32px
