.contact-product
  border-radius: 6px
  box-shadow: 0 3px 9px 0 #c3cfe2
  margin-bottom: 20px
  background-color: var(--white)
  vertical-align: top

  .contact-product-info
    padding: 15px
    min-height: 130px

    .contact-product-title
      margin: 0 0 20px
      text-overflow: ellipsis
      overflow: hidden
      font-weight: 600

    .contact-product-data
      display: flex
      align-items: center
      margin-bottom: 10px

      span
        font-size: 24px
        margin-right: 10px

      p
        font-size: 16px
        margin: 0
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

      img
        margin: 0 10px 0 0

    .contact-product-origin
      margin: 0
      font-size: 16px


  .contact-product-action
    padding: 17px 15px
    border-top: 1px dashed var(--gray-3)
    display: flex
    justify-content: flex-end
    align-items: center

    span
      font-size: 24px
      transition: .3s
      margin-right: 10px

    p
      margin: 0
      font-size: 12px
      display: inline-block
      color: var(--blue-1)
