@import 'utils'

.login-password-container
  display: flex
  flex-direction: column

  .login-password-title
    margin: 0 $spacer-2
    font-weight: normal

  .login-password-sub-title
    margin-bottom: $spacer-2
    width: 100%
    text-align: left

  .login-password-buttons
    display: flex
    align-items: center
    width: 100%

  .login-password-btn
    width: 100%

  .login-problems-link
    margin: $spacer-2 0
    color: #0048DB
    font-size: 14px

  .login-forgot-password-link
    margin-top: $spacer-2
    color: #0048DB

    i
      font-size: 24px
      margin-left: $spacer
      position: relative
      top: 3px

  ::ng-deep
    .input-password-container
      width: 100%
      margin: 0 0 $spacer-3

      fieldset
        width: 100%

        .password-input
          display: flex
          align-items: center
          justify-content: space-between

          div
            background-color: var(--white) !important

        div
          .password-bar
            height: 3px
            max-width: 56px

          input
            width: 56px
            height: 56px

            &:focus
              + .password-bar
                display: none

      &.hide
        fieldset
          div

            .password-char
              right: 17px
              top: 8px

            input
              border: 1px solid #D1D6DA
              box-shadow: 4px 4px 8px 0 rgba(37, 43, 49, 0.08)

  .tag-copy
    background-color: #F1F1F1
    display: flex
    justify-content: center
    align-items: center
    width: fit-content
    align-self: center
    padding: 0.5rem 0.75rem
    border-radius: 2rem
    margin-bottom: 1.25rem
    column-gap: 0.5rem

    i.icon
      font-size: 24px
      color: var(--blue-1)

    span.divider
      width: 20px
      height: 1px
      rotate: 90deg
      background-color: #BABABA

    p.tag-label
      font-weight: 700
      font-size: 12px
      color: #727272
      max-width: 50vw
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
