<form *ngIf="passwordForm"
      [formGroup]="passwordForm"
      (ngSubmit)="emitPassword()"
      class="login-form login-password-container">

  <h3 class="login-password-title">{{ 'LOGIN.HI' | translate }}, <span *ngIf="userName" class="semi-bold">
    {{ ' ' + (userName | firstWord) }}
    </span>
  </h3>
  <button *ngIf="showSpiKeyOnLoginPage && ( tagAval$ | async )as tagAval" class="tag-copy" type="button" (click)="copyTagAval(tagAval.value)">
    <img [src]="getTagIcon(tagAval)" alt="">
    <span class="divider"></span>
    <p class="tag-label">{{tagAval.value}}</p>
    <i class="icon icon-agrupar"></i>
  </button>
  <p class="semi-bold login-password-sub-title">{{ 'LOGIN.FIELDS.PASSWORD' | translate }}:</p>

  <avv-password
    [control]="password"
    [hideCharacters]="true"
    [autoFocus]="false"
    [showEye]="false">
  </avv-password>

  <div class="login-password-buttons">
    <button class="avv-btn-primary login-password-btn"
            type="submit"
            [id]="'login-button'"
            [disabled]="!passwordForm.valid || working">
      {{ 'LOGIN.ENTER' | translate | uppercase }}
    </button>

    <ng-content></ng-content>
  </div>

  <p class="semi-bold login-forgot-password-link" (click)="redirectForgotPassword.emit()"
     id="login-forgot-password-link">
    {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
    <i class="icon-seguridad2"></i>
  </p>
  <p id="login-problems" class="login-problems-link" (click)="openPopUpErrorLogin()">
    {{ 'LOGIN.ERROR_LOGIN' | translate }}
  </p>
</form>
