@import 'utils'

.pay-loan-amount
  padding: $spacer-4 $spacer-2

  &-title
    padding-bottom: $spacer-4

  &-form
    padding: 0

    ::ng-deep
      .form-input
        padding: 0
        margin-bottom: 32px

  &-item
    +flex(center, space-between)
    padding-left: 28px
    position: relative

    &-message
      margin-top: $spacer-2
      color: var(--gray-2)
      text-align: left
      max-height: 0

    &-input-panel
      margin-top: $spacer-2

      ::ng-deep
        .form-input
          padding: 0
          margin-bottom: 0

    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      border-radius: 50%
      width: 20px
      height: 20px
      border: solid 1px var(--gray-1)
      background-color: var(--white)

    &:after
      content: ''
      position: absolute
      top: 3px
      left: 3px
      border-radius: 50%
      width: 14px
      height: 14px
      background-color: var(--blue-1)
      visibility: hidden
      opacity: 0
      transition: .3s

  &-option
    position: relative
    padding: $spacer-2
    border-radius: 4px
    border: solid 1px var(--gray-6)
    background-color: var(--white)
    margin-bottom: $spacer-2
    overflow: hidden
    transition: .3s

    &:last-child
      margin-bottom: $spacer-4

    &.active
      border: solid 1px var(--blue-1)
      max-height: 600px

      .pay-loan-amount-item
        &:after
          visibility: visible
          opacity: 1

      &.error
        border: solid 1px var(--gray-1)

        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 3px
          background-color: var(--red-2)

    &.inner-text
      max-height: inherit
      text-align: left

    ::ng-deep
      .validation-text
        margin-top: $spacer-1
