<ul class="virtual-credit-card-benefits">
    <li>
        <i class="icon-circle-check"></i>
        <p class="virtual-credit-card-benefits__label">{{ 'VIRTUAL_CREDIT_CARD.ACTIVATE.INFO.LIST_1' | translate }}</p>
    </li>
    <li>
        <i class="icon-circle-check"></i>
        <p class="virtual-credit-card-benefits__label">{{ 'VIRTUAL_CREDIT_CARD.ACTIVATE.INFO.LIST_2' | translate }}</p>
    </li>
    <li>
        <i class="icon-circle-check"></i>
        <p class="virtual-credit-card-benefits__label">{{ 'VIRTUAL_CREDIT_CARD.ACTIVATE.INFO.LIST_4' | translate }}</p>
    </li>
    <li>
        <i class="icon-circle-check"></i>
        <p class="virtual-credit-card-benefits__label">{{ 'VIRTUAL_CREDIT_CARD.ACTIVATE.INFO.LIST_5' | translate }}</p>
    </li>
</ul>