@import 'utils'

.virtual-credit-card-benefits
    &__label
        font-weight: 400
        font-size: 14px
        line-height: 20px
        color: var(--gray-11)
    li
        +flex(flex-start, flex-start)
        margin-bottom: $spacer
        text-align: start
        gap: $spacer

    i
        font-size: 16px
        line-height: 20px
        color: var(--blue-6)
