.voucher-container
  background-color: white
  height: 100%
  border-radius: 7px
  position: relative
  overflow: hidden
  padding: 26px 20px 25px
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  top: 0

  .voucher-image
    margin: 20px 0

  .voucher-title
    font-weight: 600
    margin: 0

  .voucher-sub-title
    margin: 5px 0 16px
    color: var(--gray-1)

    > span
      font-weight: 600

  .voucher-message
    margin: 20px 0 0
    text-align: center
    color: var(--gray-1)
    line-height: 1.43

  .voucher-list
    list-style: none
    margin: 0
    padding: 0
    width: 100%

    > li
      display: flex
      justify-content: space-between
      align-items: center
      height: 58px
      border-bottom: solid 1px var(--gray-3)

      &:last-child
        border-bottom: none

      .voucher-description-container
        text-align: right

        .voucher-description
          line-height: 1.43

          ::ng-deep img
            height: 10px

            &.img-operator-system
              height: 16px
              margin-bottom: -2px

      &.main
        .voucher-description
          font-size: 20px
          font-weight: 600
          color: var(--blue-2)

      &.text
        p
          font-weight: initial

      &.main-with-description
        .voucher-description
          &:first-child
            font-size: 16px
            font-weight: 600
            color: var(--blue-2)

          &:last-child
            font-size: 12px

  .voucher-btn-confirm
    margin: 16px 0 32px
