@import 'utils'

$borderRadius: 12px
$boxShadow: 0px 0px 8px rgba(44, 44, 51, 0.32)
$principalWidth: 65px
$colorBlack: var(--gray-8)

.footer-tabs
  position: fixed
  bottom: 0
  width: 100%

  &:before
    content: ''
    position: absolute
    //top: -45px
    bottom: 0
    left: 0
    width: 100%
    //height: 47px
    height: calc(100px + var(--safe-area-inset-bottom))
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%)
    z-index: -1

  //&:after
  //  content: ''
  //  position: absolute
  //  top: 2px
  //  left: 0
  //  width: 100%
  //  height: 106px
  //  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), var(--white) 90%)
  //  z-index: -1

  .footer-version
    position: absolute
    left: -7px
    transform: rotate(-90deg)
    bottom: 80px
    color: #5C6B7A

  .footer-tabs-container
    position: relative
    display: flex
    justify-content: space-between
    height: var(--footer-heigth)
    margin: 0 4px calc(4px + var(--safe-area-inset-bottom))
    z-index: 2

    //&:after
    //  content: ''
    //  position: absolute
    //  top: 54px
    //  left: 0
    //  width: 100%
    //  height: 50vh
    //  background-color: var(--white)
    //  z-index: -2

    .menu
      &-left,
      &-right
        background-color: var(--white)
        display: flex
        justify-content: space-around
        align-items: center
        width: calc((100% - #{$principalWidth}) / 2)

        li
          text-align: center
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          padding: 0
          position: relative
          width: 50%

          i
            color: var(--gray-7)
            font-size: 24px
            border-radius: 50%

          p
            font-size: 8px
            line-height: 2
            text-align: center
            color: var(--gray-7)
            font-weight: 600
            white-space: nowrap

            &::before, &::after
              content: ''
              left: 50%
              width: 0
              transition: .3s

          &:focus, &:focus-within
            outline: none
            box-shadow: none

          &.active
            position: relative

            i, p
              color: var(--red-1)

            p
              &::before, &::after
                content: ''
                position: absolute
                bottom: -1px
                left: 3px
                width: calc(100% - 11px)
                height: 2px
                background-color: var(--red-1)
                border-radius: 1px

              &::after
                right: 3px
                left: initial
                width: 3px

      &-left
        border-top-left-radius: $borderRadius
        border-top-right-radius: $borderRadius + 6px
        border-bottom-left-radius: $borderRadius
        box-shadow: $boxShadow
        padding-left: 6px

      &-right
        border-top-left-radius: $borderRadius + 6px
        border-top-right-radius: $borderRadius
        border-bottom-right-radius: $borderRadius
        box-shadow: $boxShadow
        padding-right: 6px

      &-center
        display: flex
        position: relative
        background-color: transparent
        border: none
        width: $principalWidth

        &::before,
        &::after
          content: ''
          position: absolute
          bottom: 30%
          left: 0
          width: 100%
          height: 100%
          border-radius: 100%/0 0 100% 100%
          border-bottom: 1px solid #d3d3d3
          background-color: transparent

        &::after
          box-shadow: 0 16px var(--white)
          height: 100%
          z-index: 1

        > button
          position: relative
          top: -25px
          left: 5px
          z-index: 2
          transition: transform .5s

          @include before-width-and-height-100()
            border-radius: 50%

          &.rotate
            transform: rotate(180deg)

          &.blue
            background-image: linear-gradient(79deg, var(--blue-2) 5%, var(--blue-1) 100%)
            @include before-width-and-height-100()
              box-shadow: 0 0 10px var(--blue-1)

          &.red
            background-image: linear-gradient(79deg, var(--red-2) 5%, var(--red-1) 100%)
            @include before-width-and-height-100()
              box-shadow: 0 0 10px var(--red-1)

        .bottom
          background-color: var(--white)
          position: absolute !important
          bottom: 0
          width: 100%
          height: 30%
          z-index: 2
          @include before-width-and-height-100()
            top: -40%
            left: -3%
            width: 10%
            background-color: var(--white)
          @include after-width-and-height-100()
            top: -40%
            left: initial
            right: -3%
            width: 10%
            background-color: var(--white)

        .shadow
          width: 100%
          height: 10%
          position: absolute
          bottom: 0
          z-index: -1
          box-shadow: $boxShadow

  &.bg-black

    &:before,
    &:after
      content: initial

    .footer-tabs-container
      &:after
        content: initial

      .menu
        &-left,
        &-right
          background-color: $colorBlack

          li
            i,
            p
              color: var(--white)

        &-center
          &::before,
          &::after
            border-bottom: 1px solid $colorBlack

          &::after
            box-shadow: 0 16px $colorBlack

          > button
            background-color: var(--blue-1)
            background-image: initial

          .bottom
            background-color: $colorBlack
            @include before-width-and-height-100()
              top: -60%
              left: -3%
              width: 10%
              background-color: $colorBlack
            @include after-width-and-height-100()
              top: -60%
              left: initial
              right: -3%
              width: 10%
              background-color: $colorBlack

  &.without-center
    .footer-tabs-container
      box-shadow: 0 0 8px 0 rgba(37, 43, 49, 0.12)
      border-top-right-radius: $borderRadius
      border-top-left-radius: $borderRadius
      margin: 0 0 calc(4px + var(--safe-area-inset-bottom))

      .menu
        &-left,
        &-right
          width: calc(50%)
          box-shadow: initial

        &-left
          border-top-right-radius: initial
          border-bottom-left-radius: initial

        &-right
          border-top-left-radius: initial
          border-bottom-right-radius: initial

  aside
    display: flex
    flex-direction: column
    gap: 16px
    height: 0
    width: calc(100% - 8px)
    position: absolute
    bottom: 0
    margin: 0 4px calc(4px + var(--safe-area-inset-bottom))
    padding: 0 16px
    z-index: 1
    background: #F8F9FA
    border-radius: 12px
    transition: padding .25s
    overflow-y: auto

    &::before
      position: absolute
      top: 8px
      left: 50%
      transform: translateX(-50%)
      content: ""
      width: 64px
      height: 4px
      border-radius: 3px
      background-color: var(--gray-6)

    &.show
      height: auto
      margin-bottom: calc(4px + var(--safe-area-inset-bottom))
      padding: 36px 16px 12vh
      overflow-y: visible
  

    .options-container
      display: flex
      justify-content: space-around
    .single-item
      margin-bottom: 2rem

    .option-container
      width: 72px
      height: 72px
      padding: 0
      background-color: transparent
      margin-bottom: $spacer-2
      box-shadow: none

      span
        width: 130px
        font-size: 11px
      .single-item
        width: 145px

    .help-action
      margin-top: 5vh

    .help-action-alt
      display: flex
      justify-content: center
      align-items: center

      i
        font-size: 32px

    .options-detail-container
      display: flex
      flex-direction: row
      align-items: center
      gap: $spacer-1
      padding: 0 $spacer-2
    .description-text
      font-size: 11px
      text-align: center
      padding: 0 2rem

      .options-detail-description
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 100%

        .description-title
          font-size: 14px
          font-weight: 700

        .description-text
          font-size: 12px


  .options-overlay
    position: fixed
    top: 0
    left: 0
    z-index: 0
    width: 100%
    height: 100%
    backdrop-filter: blur(10px)
    background-color: rgba(0, 0, 0, .3)
    transition: background-color .25s
