@import 'utils'

.registering-device-error
  &__container
    display: flex
    flex-direction: column
  &__title
    font-size: 16px
    line-height: 20px
    font-weight: 500

    padding-bottom: 8px
  &__description
    font-size: 14px
    line-height: 20px

  &-actions
    display: flex
    flex-direction: column
    margin-top: auto
  &__btn
    max-width: 100%
  &__list
    padding: 8px 16px
    margin-top: $spacer-4
    border: 1px solid var(--gray-10)
    border-radius: 4px

  &__item
    display: flex
    flex-direction: row
    gap: 4px

    padding: 8px 0

    border-bottom: 1px solid var(--gray-10)

    font-size: 14px
    font-weight: 400
    line-height: 20px
    text-align: left
    color: var(--gray-11)

    &:last-child
      border-bottom: none
  li
    padding: 8px 0
    text-align: left
  &__icon
    color: var(--blue-6)
    font-size: 18px

  &__img
    width: 80px
    margin-bottom: $spacer-1
