<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>application-identifier</key>
    <string>7K72D5CH92.com.grupoavalav.bancamovil</string>
    <key>com.apple.developer.team-identifier</key>
    <string>7K72D5CH92</string>
</dict>
</plist>
