<div
  #avvDropdown
  tabindex="0"
  (keydown.escape)="blur()"
  (keydown.enter)="onEnterKey(highlightedItem)"
  (keydown.arrowup)="highlightPrevious($event)"
  (keydown.arrowdown)="highlightNext($event)"
  class="form-input dropdown"
  [class.is_open]="resultsVisible"
  [class.loading]="loading"
  [class.sm]="isSmall"
  [class.is_template]="!!template"
  >
  <label [for]="id">
    <input [id]="id"
           type="text"
           (click)="touchEnd()"
           [value]="inputValue"
           autocomplete="off"
           tabindex="-1"
           [disabled]="disabled || loading"
           placeholder="&nbsp;"
           readonly
           role="combobox"
           [attr.aria-expanded]="resultsVisible">
    <span class="label">{{ label }}</span>
    <ng-container *ngIf="!!control.value">
      <ng-container *ngTemplateOutlet="template; context: { data: control.value, class: 'item-selected' }"></ng-container>
    </ng-container>
    <span class="form-border"></span>
    <span class="form-icon icon-down" role="button" tabindex="-1"></span>
  </label>
  <avv-validation-messages [control]="control"></avv-validation-messages>
  <span class="hint" *ngIf="hint">{{hint | translate}}</span>
  <ul class="dropdown-list" role="listbox" *ngIf="resultsVisible">
    <li role="option" [class.active]="i === highlightedItem" (click)="onItemSelect(i)"
        *ngFor="let item of list; index as i">
      <ng-container *ngTemplateOutlet="!!template ? template : defaultItem; context: { data: item }"></ng-container>
    </li>
  </ul>
</div>

<ng-template #defaultItem let-item="data">
  <span>{{ item.label }}</span>
</ng-template>
