<app-headers
  #header
  [title]="'CHANGE_PASSWORD.TITLE' | translate"
  [type]="header?.headerType?.whiteSecondary"
  [ngClass]="{'visibility-hidden': (updatePasswordCompleted$ | async)}">
</app-headers>

<ion-content [forceOverscroll]="false">
  <ng-container *ngTemplateOutlet="(updatePasswordCompleted$ | async) ? completed : content"></ng-container>
</ion-content>

<ng-template #content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="changePassword()" class="update-password-container">
    <ng-container *ngIf="(loginWithBiometric$ | async) === false">
      <p class="semi-bold mt-4 mb-5 text-center">
        {{ 'CHANGE_PASSWORD.FIELDS.ENTER_CURRENT_PASSWORD' | translate }}
      </p>

      <avv-password
        [control]="form.get('currentPassword')"
        [hideCharacters]="true"
        [autoFocus]="false"
        [showEye]="true">
      </avv-password>
    </ng-container>

    <p class="semi-bold mt-4 mb-5 text-center">
      {{ 'CHANGE_PASSWORD.FIELDS.ENTER_NEW_PASSWORD' | translate }}
    </p>

    <avv-password
      [control]="form.get('newPassword')"
      [hideCharacters]="true"
      [autoFocus]="false"
      [showEye]="true">
    </avv-password>

    <small class="mt-1 mb-2 update-password-confirmation">
      {{ 'CHANGE_PASSWORD.FIELDS.ENTER_CONFIRM_PASSWORD' | translate }}
    </small>

    <avv-password
      [control]="form.get('confirmPassword')"
      [hideCharacters]="true"
      [autoFocus]="false"
      [showEye]="true">
    </avv-password>

    <small class="update-password-container-error"
           *ngIf="form?.controls?.confirmPassword?.errors?.doNotMatch as text">
      {{ text | translate }}
    </small>

    <app-errors-for-check
      [control]="form.get('confirmPassword')"
      [hasError]="!!form?.controls?.confirmPassword?.errors?.doNotMatch">
    </app-errors-for-check>

    <button class="avv-btn-primary update-password-container-btn"
            type="submit"
            [disabled]="!form.valid">
      {{ 'ACTIONS.CREATE' | translate | uppercase }}
    </button>

  </form>
</ng-template>

<ng-template #completed>
  <div class="update-password-completed-container">
    <img class="completed-password-img" [src]="'icons/check.svg' | imageUrl" draggable="false" alt="">

    <p class="semi-bold completed-password-title">
      {{ 'CHANGE_PASSWORD.TITLE_SUCCESS' | translate }}
    </p>

    <p class="semi-bold small completed-password-sub-title">
      {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_SUB_TITLE' | translate }}
    </p>

    <ul class="avv-list-red-point completed-password-list">
      <li>
        <p class="small">
          {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_DESCRIPTION_1' | translate }}
        </p>
      </li>
      <li>
        <p class="small">
          {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_DESCRIPTION_2' | translate }}
        </p>
      </li>
      <li>
        <p class="small">
          {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_DESCRIPTION_3' | translate }}
        </p>
      </li>
    </ul>

    <button class="avv-btn-primary" (click)="goToHome()">
      {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_BUTTON' | translate | uppercase }}
    </button>
  </div>
</ng-template>
