@import 'utils'

.update-password-container
  padding: 0 $spacer-2

  ::ng-deep
    .input-password-container
      margin: 0
      padding-bottom: 20px
      +flex(center, space-between)

      fieldset
        width: 100%

        .password-input
          +flex(center, space-between)

        div
          &:first-child
            input
              margin-left: 0

          .password-bar
            height: 3px
            max-width: 56px

          input
            margin: 0 0 0 16px
            width: 56px
            height: 56px

      &-eye
        margin-left: 32px

        .icon
          color: var(--gray-2)
          font-size: 24px
          font-weight: bold
          position: relative
          top: 5px

          &.hide
            display: none

      &.hide
        fieldset
          div
            .password-char
              right: 17px
              top: 8px


  .update-password-confirmation
    color: var(--blue-3)

  .update-password-container-error
    color: var(--red-2)
    margin-top: $spacer
    line-height: 1.67

  .update-password-container-btn
    margin-top: 64px

.update-password-completed-container
  +flex(center, center, column)
  padding: 0 16px 48px
  text-align: center

  .completed-password-img
    margin-bottom: $spacer-2
    width: 94px

  .completed-password-title
    max-width: 224px
    margin-bottom: 40px

  .completed-password-sub-title
    margin-bottom: 24px

  .completed-password-list
    margin-bottom: $spacer-4
