<ion-content [forceOverscroll]="false">
  <div class="auth-steps-container fill-universal-password-container">
    <div class="auth-steps-header">
      <h5>{{ title | translate }}</h5>
      <i class="icon-salir" (click)="showExitModal()"></i>
    </div>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="run()">

      <div class="auth-steps-body universal-password__container">
        <div class="universal-password__detail">
          <img class="fill-otp-data__img" [src]="'illustrationsV2/navegador-seguridad-regular.svg' | imageUrl" alt
            draggable="false">
          <p class="semi-bold auth-steps-title">
            {{ 'AUTH.STEP.FILL_UNIVERSAL_PASSWORD.TITLE' | translate }}
          </p>
          <small class="universal-password__description">
            {{ 'AUTH.STEP.FILL_UNIVERSAL_PASSWORD.DESCRIPTION' | translate }}
          </small>

          <app-auth-step-error [data]="data"></app-auth-step-error>

          <div class="fill-universal-password-fields">
            <small class="fill-universal-password-title">
              {{ 'AUTH.STEP.FILL_UNIVERSAL_PASSWORD.NEW_PASSWORD' | translate }}
            </small>

            <avv-password [control]="newPassword" [hideCharacters]="true" [autoFocus]="false" [showEye]="true">
            </avv-password>

            <small class="fill-universal-password-title">
              {{ 'AUTH.STEP.FILL_UNIVERSAL_PASSWORD.CONFIRM_PASSWORD' | translate }}
            </small>

            <avv-password class="fill-universal-password-input" [control]="confirmPassword" [hideCharacters]="true"
              [autoFocus]="false" [showEye]="true">
            </avv-password>


            <small class="fill-universal-password-error"
              *ngIf="form?.controls?.confirmPassword?.errors?.doNotMatch as text">
              {{ text | translate }}
            </small>

            <app-errors-for-check [control]="form.get('confirmPassword')"
              [hasError]="!!form?.controls?.confirmPassword?.errors?.doNotMatch">
            </app-errors-for-check>

          </div>
        </div>

        <div class="universal-password__actions">
          <button class="avv-btn-primary" type="submit" [disabled]="!form.valid">
            {{ 'AUTH.STEP.FILL_UNIVERSAL_PASSWORD.CREATE' | translate }}</button>
        </div>
      </div>
    </form>
    <div class="auth-steps-footer"></div>
  </div>
</ion-content>