@import 'utils'

.universal-password
  &__container
    display: flex
    flex-direction: column
  &__title
    font-size: 16px
    line-height: 20px
    font-weight: 500

    padding-bottom: 8px
  &__description
    font-size: 14px
    line-height: 20px

  &__actions
    display: flex
    flex-direction: column
    margin-top: auto

.fill-universal-password-container
  ::ng-deep
    .input-password-container
      margin: 0 0 $spacer-2 0
      +flex(center, space-between)

      fieldset
        width: 100%

        .password-input
          +flex(center, space-between)

        div
          &:first-child
            input
              margin-left: 0

          .password-bar
            height: 3px
            max-width: 56px

          input
            margin: 0 0 0 16px
            width: 56px
            height: 56px

      &-eye
        margin-left: 32px
        font-weight: 400

        .icon
          color: var(--gray-12)
          font-size: 24px
          position: relative
          top: 5px

          &.hide
            display: none

      &.hide
        fieldset
          div
            .password-char
              right: 17px
              top: 8px

    .fill-universal-password-input
      .input-password-container
        margin: 0

  .fill-universal-password-fields
    width: 100%
    text-align: left
    margin-top: $spacer-3
    padding: 0 $spacer

  .fill-universal-password-title
    color: var(--gray-11)
    margin-bottom: 4px
    line-height: 1.67

  .fill-universal-password-error
    color: var(--red-2)
    margin-top: $spacer
    line-height: 1.67


