@import 'utils'

.payment-services-container
  padding: $spacer-3 $spacer-2

  .payment-services-content
    &-message
      margin-bottom: $spacer-2
      text-align: center
      font-size: $font-size-base
      font-weight: 600

    button
      margin-bottom: $spacer-4

  .payment-services-working
    font-size: 0

    &-title
      width: 100%
      height: 33px
      border-radius: 0
      margin: 0 auto 10px
      max-width: 92%

    &-sub-title
      width: 100%
      height: 33px
      border-radius: 0
      margin: 0 auto 24px

    &-description
      width: 100%
      height: 33px
      border-radius: 0
      margin: 0 auto 16px
      max-width: 50%

    &-label
      width: 100%
      height: 25px
      border-radius: 0
      margin: 0 0 6px
      max-width: 13%

    &-card
      height: 176px
      border-radius: 0
      margin-bottom: 16px

.new-services-empty-content
  text-align: center

  .avv-list-panel-title
    color: var(--gray-2)
    margin-bottom: $spacer-2

  .avv-btn-primary
    margin: 0
