@import 'utils'

.social-security-worksheet-container
  padding: $spacer-4 $spacer-2

  .social-security-worksheet-title
    margin-bottom: $spacer-4

  .social-security-worksheet-operator
    ::ng-deep .form-input
      z-index: 3

  .social-security-worksheet-question
    margin: $spacer-4 0 $spacer-2

  .social-security-worksheet-options
    .avv-option-select-option:last-child
      margin-bottom: $spacer-2

  .social-security-worksheet-option-input
    ::ng-deep .form-input
      margin-top: $spacer-2

  .social-security-worksheet-option-datetime
    position: relative
    text-align: initial

    small
      position: absolute
      top: 8px
      left: 16px
      color: var(--blue-3)

    i
      position: absolute
      top: 16px
      right: 16px
      font-size: 24px

    .datetime
      height: 56px
      border-radius: 4px
      border: solid 1px var(--gray-8)
      text-align: left
      padding: 26px 52px 6px 16px
      font-size: 16px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.5
      letter-spacing: normal
      color: var(--gray-8)
      width: 100%

  .social-security-worksheet-info
    color: var(--gray-7)
    margin-bottom: 40px
    text-align: left

  ::ng-deep
    avv-dropdown, avv-input

      .form-input
        padding: 0
