@import 'utils'

.security-biometrics-finished-container
  padding: 40px $spacer-2
  text-align: center

  .security-biometrics-finished-image
    margin-bottom: 40px

  .security-biometrics-finished-title
    max-width: 240px
    margin: 0 auto $spacer-3

  .security-biometrics-finished-description
    max-width: 290px
    margin: 0 auto 40px

  .security-biometrics-finished-btn
    margin-bottom: $spacer-2
