@import 'utils'

.products-container
  &-header
    +flex(center, space-between)
    margin-bottom: $spacer-2

    ::ng-deep
      .form-input
        padding: 0 !important

        .avv-item-account
          display: flex
          align-items: center
          padding: 8px 16px
          top: 0
          left: 0

          .name
            font-size: 12px
            color: var(--gray-1)

          .icon
            display: none

          &.item-selected
            min-height: inherit

        &.dropdown
          .dropdown-list
            top: 32px !important
            width: 120% !important

            > li
              padding: 0

              &:first-child
                border-top: 0 !important

              &.active
                background-color: var(--blue-4) !important

              .avv-item-account
                padding: 0

                .icon
                  position: relative
                  display: initial
                  margin-right: 16px
                  top: -2px

                .name
                  font-size: 14px

  &-item-title
    font-size: 12px
    margin: 10px 0
