.withdrawal-channels-step
  &-list
    li
      .avv-contact-card
        .contact-image
          background-color: var(--white)
          color: var(--gray-1)
          min-width: initial
          width: initial
          padding: 16px

        .contact-info
          padding: 8px 36px 4px 0

