<ion-content [forceOverscroll]="false">
  <div class="notification-permissions-container">
    <img
            class="icon"
            [src]="'loader.svg' | imageUrl"
            draggable="false">
    <div class="loader">
      <div class="avv-progress-bar">
        <div class="avv-progress-bar-value"></div>
      </div>
    </div>
    <!--<h6 class="semi-bold">
      {{ 'AUTH.STEP.NOTIFICATION_PERMISSIONS.TITLE' | translate }}
    </h6>
    <h6>
      {{ 'AUTH.STEP.NOTIFICATION_PERMISSIONS.DESCRIPTION' | translate }}
    </h6>-->
  </div>
</ion-content>
