@import 'utils'

.list-from-cell-phone
  .working
    margin-top: $spacer-1

  .contacts-content
    .small
      color: var(--gray-2)
      padding: $spacer-3 0 $spacer-1 0
      text-align: center

    &-list
      padding-top: 20px

      .item
        border: solid 1px #dbe5e8
        box-shadow: initial
        margin-bottom: $spacer-2

      .name
        margin-bottom: 3px
      &-empty
        text-align: center

        .icon
          max-width: 200px

    &-empty
      text-align: center

      .bold
        padding-top: 40px
