<div class="auth-steps-container activate-product-password">
    <form [formGroup]="form"
        (ngSubmit)="submitPassword()">
        <div class="auth-steps-body universal-password__container">
            <div class="universal-password__detail">
                <img [src]="'illustrationsV2/navegador-seguridad-regular.svg' | imageUrl" alt
                    draggable="false">
                <p class="auth-steps-title activate-product-password__title"  
                    *ngIf="product.cardFranchise && product.cardId"
                    [innerHTML]="'VIRTUAL_CREDIT_CARD.ACTIVATE.PASSWORD.TITLE' | safeHtml | translate :{cardFranchise: product.cardFranchise, cardId: product.cardId}">
                </p>
                <small class="universal-password__description">
                    {{ 'VIRTUAL_CREDIT_CARD.ACTIVATE.PASSWORD.DESCRIPTION' | translate }}
                </small>

                <div class="fill-universal-password-fields">
                    <small class="password-title">
                        {{ 'VIRTUAL_CREDIT_CARD.ACTIVATE.PASSWORD.NEW_PASSWORD' | translate }}
                    </small>
                    <avv-password
                        [control]="newPassword"
                        [hideCharacters]="true"
                        [autoFocus]="false"
                        [showEye]="true">
                    </avv-password>

                    <small class="password-title"> {{ 'VIRTUAL_CREDIT_CARD.ACTIVATE.PASSWORD.CONFIRM_PASSWORD' | translate }}</small>
                    <avv-password
                        class="fill-universal-password-input"
                        [control]="confirmPassword"
                        [hideCharacters]="true"
                        [autoFocus]="false"
                        [showEye]="true">
                    </avv-password>
                    <small
                        *ngIf="form?.controls?.confirmPassword?.errors?.doNotMatch as text"
                        class="fill-universal-password-error">
                        {{ text | translate }}
                    </small>

                    <app-errors-for-check
                        [control]="form.get('confirmPassword')"
                        [hasError]="!!form?.controls?.confirmPassword?.errors?.doNotMatch">
                    </app-errors-for-check>
                </div>
            </div>
            <div class="universal-password__actions">
                <button
                    class="avv-btn-primary activate-product-password-btn"
                    type="submit"
                    [id]="'activate-product-password-btn'"
                    [disabled]="!form.valid">
                    {{ 'VIRTUAL_CREDIT_CARD.ACTIVATE.PASSWORD.CONTINUE' | translate }}
                </button>
            </div>
        </div>
    </form>
    <div class="auth-steps-footer"></div>
</div>
