.contact-product-container
    display: flex
    flex-direction: column
    gap: 1.5rem
    .detail
        border: 1px solid #DFDFDF
        border-radius: 4px
        display: flex
        flex-direction: column
        .favorite-data
            display: flex
            flex-direction: column
            gap: 1.5rem
            .contact-account
                display: flex
                flex-direction: column
                gap: 1rem
                padding: 1rem
                .account-container
                    font-weight: 700
                    .contact-title
                        font-size: 0.875rem
                    .contact-nickname 
                        font-size: 11px
                        color: #727272
                .bank-container
                    font-size: 0.75rem
                    display: flex
                    flex-direction: column
                    gap: 0.5rem
                    .bank
                        font-size: 0.75rem
                    .account-number
                        font-size: 0.75rem
                    
                .bank-container
    .owner-profile
        background-color: #EAF0FC
        display: flex
        gap: 1rem
        padding: 1.5rem 0 1rem 1rem
        i
            font-size: 2rem
            color: #2D43CD
        .separator
            width: 2px
            height: 72px
            background-color:#D6D6D6
        .owner-data
            display: flex
            flex-direction: column
            gap:0.5rem
            .owner-id-container
                .owner-title
                    font-weight: 700
                    font-size: 1rem
                    line-height: 1.5rem
                    color: #3F3F3F
                .owner-id
                    font-size: 0.875rem
                    color: #727272
                    font-weight: 400
            .owner-phone-container
                font-size: 0.875rem
                .owner-phone-title  
                    font-weight: 400
                    font-size: 0.875rem
                .owner-phone
                    font-weight: 500
                    font-size: 0.875rem
    .select
        display: flex
        flex: 1
        color: #2666EC
        justify-content: center
        font-weight: 700
        font-size: 0.75rem
        padding: 8px 0



                            
                    



                
                
