<div class="fondo-modal-imagen fadeIn fadeFast"
    [class.modal-oculto]="modalImagenService.ocultarModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel1"
        style="display: block; padding-right: 15px">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Cargar Imagen</h4>
                </div>
                <div class="modal-body">
                    <h3>Seleccione una imagen</h3>
                    <div class="text-center">
                        <img *ngIf="!imgTemp" [src]="modalImagenService.img" class="img-avatar" style="max-width: 160px;">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" style="max-width: 160px;">
                    </div>

                    <input type="file" (change)="cambiarImagen($event)" placeholder="Cargar Archivo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal" (click)="cerrarModal()" >Cancelar</button>
                    <button (click)="subirImagen()" type="button" class="btn btn-primary">Actualizar
                        foto</button>
                </div>
            </div>
        </div>
    </div>
</div>
