@import 'utils'

.pocket-create-customization-step
  min-height: 80vh
  padding: $spacer-4 $spacer-2 0

  &__title
    font-size: 16px
    font-weight: 500
    margin-bottom: $spacer-3
    text-align: center


  &__form
    display: flex
    flex-direction: column
    gap: $spacer-2
    margin: 0 0 $spacer-4

    ::ng-deep
      .form-input
        padding: 0
