@import 'utils'

.container-search-list
  form
    .btn-continue
      margin-top: $spacer-2
      margin-bottom: $spacer-3
  .avv-alert-error
    margin-top: 20px
  .list-content
    .info
      padding-top: 20px
      padding-left: 0
      text-align: left
    &-categories
      .item
        text-align: left
        &-info
          &.d-flex-center
            display: flex
            align-items: center
            .name
              font-size: $spacer-2
              padding: 0
          .name
            padding-bottom: 5px
    &-error
      .description
        margin-bottom: $spacer-4
      .avv-link
        font-size: 14px
        .icon
          font-size: 24px
          position: relative
          top: 6px
