<div class="container-search-list">
    <div
        *ngIf="working; else !!showError ? errorContent : content"
        class="container-search-list-loading">
        <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]">
            <ion-skeleton-text
                animated
                class="avv-skeleton"></ion-skeleton-text>
        </div>
    </div>
    <ng-template #content>
        <form *ngIf="searchList.length > showSearchLength">
            <avv-input
                type="text"
                [id]="'input-search-list-search'"
                [label]="inputLabel | translate"
                [control]="searchControl">
            </avv-input>
            <button
                *ngIf="false"
                type="submit"
                [disabled]="!searchControl.valid"
                class="avv-btn-secondary sm btn-continue"
                id="search-list-btn">
                {{ 'ACTIONS.SEARCH' | translate | uppercase }}
            </button>
        </form>
        <div
            *ngIf="listFilter.length > 0; else notFound"
            class="list-content">
            <p class="avv-generic-step-description info">{{ 'PAYMENTS.SEARCH_LIST.TITLE' | translate }}</p>
            <div class="list-content-categories">
                <div
                    *ngFor="let list of listFilter; index as i"
                    [id]="'item-code-' + list.item.code"
                    (click)="this.selectItem.emit(list)"
                    class="avv-contact-card item mb-3">
                    <div
                        class="contact-info item-info"
                        [class.d-flex-center]="!!!list.subtitle">
                        <h6 class="name">{{ list.title | titlecase }}</h6>
                        <p
                            *ngIf="!!list.subtitle"
                            class="nickname">
                            {{ list.subtitle }}
                        </p>
                    </div>
                    <span class="contact-icon icon-next"></span>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #notFound>
        <div class="avv-alert-error">
            <i class="avv-alert-icon icon-alerta"></i>
            <div class="avv-alert-text">
                {{ notFoundText || ('PAYMENTS.SEARCH_LIST.EMPTY' | translate) }}
            </div>
        </div>
    </ng-template>
    <ng-template #errorContent>
        <div class="avv-panel-empty">
            <div class="avv-panel-empty-image">
                <img
                    class="icon"
                    [src]="'errorde-carga.svg' | imageUrl"
                    alt="sin-resultados">
            </div>
            <p
                class="avv-list-panel-title avv-title-semibold"
                [innerHtml]="showError">
            </p>
        </div>
    </ng-template>
</div>
