@import 'utils'

.pockets-transfer-step
  min-height: 88vh
  padding: $spacer-4 $spacer-2

  &__icon img
    display: block
    margin: 0 auto

  &__title
    font-size: 16px
    font-weight: 600
    margin-bottom: $spacer-2
    text-align: center

  &__form
    display: flex
    flex-direction: column
    margin: $spacer-3 0 $spacer-4

    .pockets-transfer-options-title
      font-size: 14px
      font-weight: 600

    .pockets-transfer-options-panel-parent-account
      display: flex
      gap: $spacer
      align-items: baseline

      i
        font-size: 15px

      p
        font-size: 14px
