@import 'utils'

.payments-taxes-step-reference
  padding: $spacer-4 $spacer-2 $spacer-3

  .title
    padding-bottom: $spacer-4

  form
    .form-is-barcode
      .avv-alert-info
        display: none
    .btn-continue
      margin-top: 20px

  .avv-alert-error
    .avv-btn-link
      text-align: left
      margin-top: $spacer-2

.avv-content-empty
  &-text
    padding: 0 $spacer-2
  .avv-btn-link
    .icon
      position: relative
      top: 4px
      margin-left: $spacer
      font-size: $spacer-3
