ion-card.product-card
  border-radius: 4px
  box-shadow: 0 2px 4px 0 rgba(65, 74, 83, 0.3)
  background-color: var(--white)
  min-height: 80px
  margin: 0 0 8px 0
  color: var(--gray-1)
  font-size: 14px

  ion-card-content.product-card-content
    position: relative
    padding: 12px
    line-height: normal

    span.product-name
      display: flex
      align-items: center
      width: 100%

      span.product-icon
        margin-top: 3px

        i.icon
          font-size: 16px

        span.cca-franchise

          img.product-franchise
            width: 28px
            height: 16px

      span.product-title
        margin-left: 8px
        font-size: 14px

    p.product-subtitle
      font-size: 12px
      margin-left: 25px
      color: var(--gray-2)

    span.product-balance
      font-size: 20px
      margin-left: 25px
      font-weight: bold

    span.show-hide-balance
      margin-left: 8px
      color: var(--blue-1)

      i.icon
        font-size: 16px
        cursor: pointer

        &.icon-ver
          display: none

    p.insufficient-product-balance
      margin-left: 25px
      font-size: 12px
      line-height: 1.67
      color: var(--red-2)
      margin-bottom: -4px

    div.product-more-options,
    div.product-next-options
      display: flex
      position: absolute
      right: 12px
      top: 12px
      font-size: 12px
      align-items: center
      color: var(--blue-1)
      cursor: pointer

      i.icon
        font-size: 24px

    div.product-new-tag
      position: absolute
      top: 8px
      right: 0

  &.digital-debit-card
    min-height: initial

    .product-subtitle
      margin-bottom: 0

    .product-balance
      display: none

  ion-card-content.product-card-content + .product-card-info-to-copy
    border-top: 1px solid #EBEDEF

    .info-to-copy-content
      margin-left: 25px
      display: flex
      justify-content: space-between
      align-items: end
      color: #3F3F3F

      img
        max-width: 80px

      > div
        flex-grow: 1
        display: flex
        flex-direction: column
        gap: 6px

        .info-to-copy-icon
          font-size: 18px

        span
          display: flex
          align-items: start
          gap: 8px
          line-height: 1
          font-weight: 600

        span + i
          font-size: 18px

      i
        font-size: 20px
        color: var(--blue-1)

.product-card-container
  .product-card-image
    height: 33.600vw
    overflow: hidden
    padding: 0 56px
    margin-bottom: -21.333vw
    text-align: center

    img
      width: 100%
      max-height: inherit
      max-width: 300px

  &.disabled
    .product-card-image img
      opacity: .6

    ion-card.product-card
      border-radius: 4px
      border: solid 1px var(--gray-6)
      box-shadow: none

      ion-card-content.product-card-content
        span.product-name
          span.product-title
            color: var(--gray-3)

          span.product-icon
            i.icon
              color: var(--gray-3)

            span.cca-franchise
              opacity: .4

        span.product-balance
          color: var(--gray-3)

.product-card
  &-footer, &__tag-icon, &__detail
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: auto 0
    gap: 8px
    i.icon
      color: #2666EC
  &__edit
    border-left: solid 1px #D9D9D9


.product-card__detail
  .copy-tag-container
    display: flex
    align-items: center
    justify-content: center
  .tag
    max-width: 38vw
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  i.icon
    padding-left: 8px

@media(max-width: 385px)
  ion-card.product-card
    ion-card-content.product-card-content
      span.product-name
        width: 90%
