@import 'utils'

.qr-pay-installments-container
  padding: $spacer-4 0
  min-height: 450px
  font-size: 0

  .qr-pay-installments-title
    margin-bottom: $spacer-2

  .qr-pay-installments-product
    text-align: left
    padding: 0 $spacer-2

  .qr-pay-installments-panel
    margin-top: $spacer-3
    padding: $spacer-3 $spacer-2

    .qr-pay-installments-field
      margin-bottom: $spacer-4

      .qr-pay-installments-input
        display: block
        margin-bottom: $spacer

      > small
        display: block
        text-align: left

      ::ng-deep
        .form-input
          padding: 0
