.form-step
  .form-step-btn
    margin-top: 24px

  ::ng-deep
    .item-container
      &.message
        display: flex
        justify-content: space-between
        .item-container
          &-input
            width: 50%
          &-message
            color: var(--gray-1)
            font-size: 12px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            line-height: 1.33
            letter-spacing: normal
            margin-top: 20px
    .form-input
      padding: 0
      margin-bottom: 32px
