.view-more-keys
    border-radius: 0 0 4px 4px
    margin: 0
    display: flex
    justify-content: space-between
    align-items: center
    padding: 8px 12px
    font-size: 11px
    font-weight: 500

    &__detail
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: auto 0
        padding: 0 16px 16px 16px
        gap: 8px
        i.icon
            color: #2666EC
    &__text
        color: #2666EC
        .icon-more
            font-size: 16px
            padding-right: 4px
    .actions
        display: flex
        align-items: center
        .key
            font-size: 16px
            font-weight: 400
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap
            max-width: 38vw
        i
            font-size: 16px
.avv-link-new
    color:#2666ec
.btn-m
    font-size: 12px
.white-label
    font-size: 12px
span.divider
    width: 20px
    height: 1px
    rotate: 90deg
    background-color: #BABABA
    margin: auto
