@import "utils"

.pockets-product
  margin: 12px 0
  padding: 12px
  +flex(center)
  +shadow(var(--white), 4px, 0 2px 4px 0 rgba(65, 74, 83, 0.3) )

  .cel-2-cel-link-icon
    max-width: 24px

  .cel-2-cel-transfiya-logo
    position: absolute
    right: 60px
    max-width: 20%

  .product-info
    width: 100%
    +flex(center)

    p,i
      color: var(--gray-1)
    p
      padding-top: 3px
      font-size: 16px

  &>i
    font-size: 24px
    color: var(--blue-1)

.redirect-link
  display: flex
  align-items: center
  gap: 4px
  color: #0048DB !important
  font-size: 12px
  font-weight: 400
  line-height: 16px
  &-text
    text-decoration: underline !important
