ion-content
  border-bottom: 8px solid var(--red-1)
.container
    margin-top: 5rem
    padding:0 2rem
    display: flex
    justify-content: center
    flex-direction: column
    gap:1.5rem
    .avv-btn-primary
        margin-top: 4rem
    .img
        height: 112px
    .text-container
        p
            text-align: center
        .title
            font-weight: 500
        .description
            font-weight: 400