@import 'utils'

.logout-by-inactivity
  &-container
    overflow-y: auto
    height: 100vh

  &-content
    padding: 49px 43px
    text-align: center
    +flex(center, center, column)

  &-logo
    margin-bottom: 48px

  &-icon
    margin-bottom: 53px

  &-title
    margin-bottom: 56px

  &-link
    display: inline-block
    font-size: 14px
    font-weight: 600
    line-height: 1.57
    text-align: center
    color: var(--blue-2)
    margin-top: 20px

    i
      position: relative
      top: 4px
      left: 2px
      font-size: 24px

  @media(max-height: 624px)
    &-content
      padding: 30px

    &-logo
      margin-bottom: 30px

    &-icon
      margin-bottom: 30px
