ion-card 
    border-radius: 4px
    padding: 0
    margin: 0
    box-shadow: none
    border: 1px solid #D6D6D6
    .card-container
        padding: 1rem
        display: flex
        flex-direction: row
        .icon-container
            display: flex
            align-items: center
            justify-content: center
            i
                color: #727272
                border: 1px solid #D6D6D6
                background-color: #E8E8E8
                border-radius: 32px
                padding: 8px

        .tag
            border-radius: 4px
            background-color: #EAF0FC
            text-align: center
            padding: 4px 8px
            color: #0054BF
            font-weight: 500
            font-size: 11px
            max-width: fit-content
        .text-container
            display: flex
            align-items: center

        
ion-card-header
    display: flex
    flex-direction: column
    gap: 8px
    padding: 0 16px 
ion-card-title 
    margin: 0



ion-card-subtitle
    color: #3F3F3F
    font-weight: 400
    font-size: 12px
ion-card-title
    color: black
    font-weight: 500
    font-size: 14px

ion-card-content
    display: flex
    flex: 1
    justify-content: end
    align-items: center