\:root
  /* Primary */
  --red-1: #E1001D
  /* Input modal */
  --red-2: #A00104
  /* Secondary - Active - Fields - Radio Button - Checkbox */
  --red-3: #E84D2F
  --red-4: #ED1B2F
  /* Error OTP */
  --blue-1: #0048DB
  /* Links */
  --blue-2: #0014A2
  /* Badges */
  --blue-3: #0054bf
  --blue-4: #C2C8F5
  --blue-5: #E7E9FB
  --blue-6: #2666EC
  /* Tertiary - Texts */
  --gray-1: #414A53
  /* Placeholder */
  --gray-2: #77899A
  /* Border - Disabled */
  --gray-3: #ACBAC9
  /* Background */
  --gray-4: #F1F3F6
  /* Side menu background */
  --gray-5: #EFEEEE
  --gray-6: #DBE2E8
  --gray-7: #5C6B7A
  --gray-8: #2c2c33
  --gray-9: #8e9ba9
  --gray-10: #DFDFDF
  --gray-11: #3F3F3F
  --gray-12: #727272
  --gray-13: #F1F1F1
  --gray-14: #F7F7F7
  --gray-15: #252B31
  --gray-avv: #EEF0F3
  --dark-400: #9A9A9A
  --quaternary: #283747
  --success: #00C783
  --info: var(--blue-3)
  --warning: #ffb038
  --danger: var(--red-1)
  --success-bg: #e2f9ef
  --info-bg: #DFEAFF
  --warning-bg: #FFF1C6
  --danger-bg: #FDCED0
  --white: #FFFFFF
  --black: #000000
  --disabled: var(--gray-3)
  --gradient-red: linear-gradient(249deg, var(--red-2) 99%, var(--red-1) 5%)
  --gradient-blue: linear-gradient(72deg, var(--blue-2) 6%, var(--blue-1) 99%)
  --box-shadow: 0 2px 4px 0 rgba(65, 74, 83, 0.3)
  --ion-background-color: #ffffff
