@import 'url'

@font-face
  font-family: "Onest"
  // Onest-Regular
  src: url('#{$base-url-fonts}Onest-Regular.ttf') format('truetype')
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Onest"
  // Onest-Light
  src: url('#{$base-url-fonts}Onest-Light.ttf') format('truetype')
  font-style: normal
  font-weight: 300

@font-face
  font-family: "Onest"
  // Onest-SemiBold
  src: url('#{$base-url-fonts}Onest-SemiBold.ttf') format('truetype')
  font-style: normal
  font-weight: 500

@font-face
  font-family: "Onest"
  // Onest-Bold.ttf
  src: url('#{$base-url-fonts}Onest-Bold.ttf') format('truetype')
  font-style: normal
  font-weight: bold
