@import 'url'

@font-face
  font-family: 'icomoon'
  src: url('#{$base-url-icons}/icomoon.ttf?fsatjq') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: block


[class^='icon-'], [class*=' icon-']
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

[class^='icon-']::before,
[class*=' icon-']::before

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-add-product:before
  content: "\e9b1"

.icon-upload:before
  content: "\e9b0"

.icon-shopping-bag:before
  content: "\e9af"

.icon-contacts:before
  content: "\e9ac"

.icon-cookie:before
  content: "\e9ad"

.icon-circle-check:before
  content: "\e9ae"

.icon-chequera:before
  content: "\e9ab"

.icon-Borrar-2:before
  content: "\e9a9"

.icon-Punto:before
  content: "\e9aa"

.icon-woman-1:before
  content: "\e9a8"

.icon-prueba:before
  content: "\e9a6"

.icon-billetera:before
  content: "\e9a5"

.icon-business:before
  content: "\e9a7"

.icon-icon-calendario-vacio:before
  content: "\e9a3"

.icon-icon-cdt-resumen:before
  content: "\e9a4"

.icon-qr:before
  content: "\e9a1"

.icon-faceid:before
  content: "\e9a2"

.icon-callcenter:before
  content: "\e9a0"

.icon-Huella:before
  content: "\e99f"

.icon-bolsillos:before
  content: "\e900"

.icon-inscribir:before
  content: "\e901"

.icon-abrir_pantalla:before
  content: "\e902"

.icon-acciones_productos_financieros:before
  content: "\e903"

.icon-actualizar_2:before
  content: "\e904"

.icon-actualizar:before
  content: "\e905"

.icon-actualizar3:before
  content: "\e906"

.icon-adjuntar:before
  content: "\e907"

.icon-agregar_hoja:before
  content: "\e908"

.icon-agregar_persona:before
  content: "\e909"

.icon-agregar:before
  content: "\e90a"

.icon-agrupar:before
  content: "\e90b"

.icon-Ahorro:before
  content: "\e90c"

.icon-alerta:before
  content: "\e90d"

.icon-almacenamiento:before
  content: "\e90e"

.icon-ampliar:before
  content: "\e90f"

.icon-apagar:before
  content: "\e910"

.icon-arroba:before
  content: "\e911"

.icon-avances:before
  content: "\e912"

.icon-back:before
  content: "\e913"

.icon-barras:before
  content: "\e914"

.icon-basura:before
  content: "\e915"

.icon-bluetooth:before
  content: "\e916"

.icon-bolquear_vista:before
  content: "\e917"

.icon-brujula:before
  content: "\e918"

.icon-caht_2:before
  content: "\e919"

.icon-caja:before
  content: "\e91a"

.icon-calendario:before
  content: "\e91b"

.icon-camara:before
  content: "\e91c"

.icon-casa_apto:before
  content: "\e91d"

.icon-celular:before
  content: "\e91e"

.icon-chat:before
  content: "\e91f"

.icon-check:before
  content: "\e920"

.icon-chip:before
  content: "\e921"

.icon-chrome:before
  content: "\e922"

.icon-coffee:before
  content: "\e923"

.icon-compartir:before
  content: "\e924"

.icon-compras:before
  content: "\e925"

.icon-computer:before
  content: "\e926"

.icon-configuracion:before
  content: "\e927"

.icon-credito_rotativo:before
  content: "\E9BE"

.icon-cruz:before
  content: "\e929"

.icon-data:before
  content: "\e92a"

.icon-depositos:before
  content: "\e92b"

.icon-descarga_de_la_nube:before
  content: "\e92c"

.icon-descarga:before
  content: "\e92d"

.icon-descargar:before
  content: "\e92e"

.icon-dinero:before
  content: "\e92f"

.icon-dislike:before
  content: "\e930"

.icon-display_por-definir-nombre:before
  content: "\e931"

.icon-down:before
  content: "\e932"

.icon-drag:before
  content: "\e933"

.icon-editar:before
  content: "\e934"

.icon-educacion:before
  content: "\e935"

.icon-eliminar_usuario:before
  content: "\e936"

.icon-enviar_3:before
  content: "\e937"

.icon-enviar:before
  content: "\e938"

.icon-equipo:before
  content: "\e939"

.icon-equipo1:before
  content: "\e93a"

.icon-estrella:before
  content: "\e93b"

.icon-etiqueta:before
  content: "\e93c"

.icon-extractos:before
  content: "\e93d"

.icon-fechas_especiales:before
  content: "\e93e"

.icon-flecha_abajo_2:before
  content: "\e93f"

.icon-flecha_arriba_2:before
  content: "\e940"

.icon-flecha_arriba:before
  content: "\e941"

.icon-flecha_doble_der:before
  content: "\e942"

.icon-flecha_doble_izq:before
  content: "\e943"

.icon-flecha_perdida:before
  content: "\e944"

.icon-flecha_subida:before
  content: "\e945"

.icon-folder_agregar:before
  content: "\e946"

.icon-folder_negativo:before
  content: "\e947"

.icon-folder:before
  content: "\e948"

.icon-formulario:before
  content: "\e949"

.icon-funnel:before
  content: "\e94a"

.icon-gastos_financieros:before
  content: "\e94b"

.icon-giros_y_transferencias:before
  content: "\e94c"

.icon-grupo:before
  content: "\e94d"

.icon-guardar:before
  content: "\e94e"

.icon-imagen:before
  content: "\e94f"

.icon-imprimir:before
  content: "\e950"

.icon-Impuestos:before
  content: "\e951"

.icon-info:before
  content: "\e952"

.icon-informacion_2:before
  content: "\e953"

.icon-informacion:before
  content: "\e954"

.icon-libro:before
  content: "\e955"

.icon-like:before
  content: "\e956"

.icon-linkeado:before
  content: "\e957"

.icon-logout:before
  content: "\e958"

.icon-love:before
  content: "\e959"

.icon-lupa_acercar:before
  content: "\e95a"

.icon-lupa_menos:before
  content: "\e95b"

.icon-lupa_search:before
  content: "\e95c"

.icon-mail:before
  content: "\e95d"

.icon-mapa:before
  content: "\e95e"

.icon-marcador:before
  content: "\e95f"

.icon-marco:before
  content: "\e960"

.icon-mark:before
  content: "\e961"

.icon-menos_circulo:before
  content: "\e962"

.icon-menu:before
  content: "\e963"

.icon-mis_bolsillos:before
  content: "\e964"

.icon-mis_CDTs:before
  content: "\e965"

.icon-mis_otros_creditos:before
  content: "\e966"

.icon-negocios_ventas:before
  content: "\e967"

.icon-next:before
  content: "\e968"

.icon-no_foto:before
  content: "\e969"

.icon-no_notificaciones:before
  content: "\e96a"

.icon-no_se_puede:before
  content: "\e96b"

.icon-no_seguro:before
  content: "\e96c"

.icon-no_video:before
  content: "\e96d"

.icon-no_wifi:before
  content: "\e96e"

.icon-notificaciones:before
  content: "\e96f"

.icon-otros-ingresos:before
  content: "\e970"

.icon-otros_gastos:before
  content: "\e971"

.icon-otros:before
  content: "\e972"

.icon-paginas:before
  content: "\e973"

.icon-pagos:before
  content: "\e974"

.icon-pausa:before
  content: "\e975"

.icon-persona_eliminar:before
  content: "\e976"

.icon-pie_chart:before
  content: "\e977"

.icon-play:before
  content: "\e978"

.icon-porcentaje:before
  content: "\e979"

.icon-previos:before
  content: "\e97a"

.icon-previosly:before
  content: "\e97b"

.icon-puntos:before
  content: "\e97c"

.icon-regalos:before
  content: "\e97d"

.icon-reloj:before
  content: "\e97e"

.icon-retiro:before
  content: "\e97f"

.icon-salario:before
  content: "\e980"

.icon-salida:before
  content: "\e981"

.icon-salir:before
  content: "\e982"

.icon-salud:before
  content: "\e983"

.icon-seguridad:before
  content: "\e984"

.icon-seguridad2:before
  content: "\e985"

.icon-seguro:before
  content: "\e986"

.icon-senal:before
  content: "\e987"

.icon-siguiente:before
  content: "\e988"

.icon-sin_sonido:before
  content: "\e989"

.icon-subir_docs:before
  content: "\e98a"

.icon-target:before
  content: "\e98b"

.icon-tarjeta:before
  content: "\e98c"

.icon-telefono:before
  content: "\e98d"

.icon-tiempo:before
  content: "\e98e"

.icon-transferencia_celular:before
  content: "\e98f"

.icon-Transferencia_rapida:before
  content: "\e990"

.icon-transmitir:before
  content: "\e991"

.icon-tres_puntos_horizontal:before
  content: "\e992"

.icon-tres_puntos:before
  content: "\e993"

.icon-ubicacion:before
  content: "\e994"

.icon-up:before
  content: "\e995"

.icon-usuario:before
  content: "\e996"

.icon-vacaciones_viajes:before
  content: "\e997"

.icon-vehiculos:before
  content: "\e998"

.icon-ver:before
  content: "\e999"

.icon-video:before
  content: "\e99a"

.icon-volume:before
  content: "\e99b"

.icon-volumen_alto:before
  content: "\e99c"

.icon-web:before
  content: "\e99d"

.icon-wifi:before
  content: "\e99e"

.icon-love-fill:before
  content: "\e9b2"

.icon-logo-avvillas:before
  content: "\e9b3"

.icon-linterna:before
  content: "\e9b5"

.icon-payment-wristband:before
  content: "\E9B4"

.icon-key:before
  content: "\E9B9"

.icon-keys:before
  content: "\E9B6"

.icon-apple:before
  content: "\E9B7"

.icon-aval-tag:before
  content: "\E9B8"

.icon-payment-terminal:before
  content: "\E9BA"

.icon-phone-card:before
  content: "\E9BB"

.icon-security-shield:before
  content: "\E9BC"

.icon-Bre-B:before
  content: url('/assets/img/aval-icons/bre-b.svg')
.icon-delete:before
  content: "\E9C0"
.icon-edit:before
  content: "\E9C1"
.icon-more:before
  content: "\E9C2"

