

ion-item
  border-radius: 4px
  border: solid 1px var(--gray-3)
  --ion-item-background-color-active: #000

  ion-icon, icon-inner
    color: var(--blue-1)

  ion-label
    color: red
    --background: var(--red-1)
    --color: var(--red-1)
    --placeholder-color: var(--red-1)

ion-input
  --background: var(--red-1)
  --color: var(--gray-2)
  --placeholder-color: var(--red-1)

\:root
  ion-label
    --color: var(--red-1)
