.avv-popover
  --max-width: 311px
  --width: 311px
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.15)

.avv-popover-content
  padding: 12px 16px
  display: flex
  background-color: var(--white)

  p
    font-size: 14px

  i
    font-size: 20px
