@import 'utils'

/* position */
.toast-center-center
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.toast-top-center
  top: 0
  right: 0
  width: 100%

.toast-bottom-center
  bottom: 0
  right: 0
  width: 100%

.toast-top-full-width
  top: calc(80px + var(--safe-area-inset-top))
  right: 0
  width: 100%

.toast-bottom-full-width
  bottom: 0
  right: 0
  width: 100%

.toast-top-left
  top: 12px
  left: 12px

.toast-top-right
  top: 12px
  right: 12px

.toast-bottom-right
  right: 12px
  bottom: 12px

.toast-bottom-left
  bottom: 12px
  left: 12px

.toast-top-center-digital-debit-card-detail
  top: 20vh
  right: 0
  width: 100%

.toast-top-center-virtual-credit-card-detail
  top: 20vh
  right: 0
  width: 100%

/* toast custom styles */
.avv-toast
  display: flex
  padding: 0 0 0 24px
  position: relative

  &.close-button
    padding: 0 24px

  .avv-toast-icon, .avv-toast-close
    position: absolute
    top: 0
    font-size: 16px

  .avv-toast-icon
    left: 0
    display: none

    &.success
      color: var(--success)

    &.error
      color: var(--danger)

    &.warning
      color: var(--warning)

    &.info
      color: var(--info)

  .avv-toast-close
    right: 0
    color: var(--gray-2)

  .avv-toast-title
    font-weight: normal
    line-height: 1.34

/* toast styles */
.toast-title
  font-weight: bold

.toast-message
  word-wrap: break-word

.toast-message a,
.toast-message label
  color: #FFFFFF

.toast-message a:hover
  color: #CCCCCC
  text-decoration: none

.toast-close-button
  position: relative
  right: -0.3em
  top: -0.3em
  float: right
  font-size: 20px
  font-weight: bold
  color: #FFFFFF
  text-shadow: 0 1px 0 #ffffff
/* opacity: 0.8 */

.toast-close-button:hover,
.toast-close-button:focus
  color: #000000
  text-decoration: none
  cursor: pointer
  opacity: 0.4

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button
  padding: 0
  cursor: pointer
  background: transparent
  border: 0

.toast-container
  pointer-events: none
  position: fixed
  z-index: 999999
  padding: 0 $spacer-2

.toast-container *
  box-sizing: border-box

.toast-container .ngx-toastr
  position: relative
  overflow: hidden
  margin: 0 0 6px
  padding: 8px
  width: 100%
  border-radius: 4px
  // box-shadow: 0 0 12px #999999
  box-shadow: none
  color: #FFFFFF

.toast-container .ngx-toastr:hover
  // box-shadow: 0 0 12px #000000
  box-shadow: none
  opacity: 1
  cursor: pointer

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr
  width: 100%
  margin-left: auto
  margin-right: auto

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr
  width: 100%
  margin-left: auto
  margin-right: auto

.ngx-toastr
  background-color: #030303
  pointer-events: auto
  font-size: 0

.avv-toast-success
  background-color: var(--success-bg)

  .toast-progress
    background-color: var(--success)

  .avv-toast
    .avv-toast-icon.success
      display: inline-block

.avv-toast-error
  background-color: var(--danger-bg)

  .toast-progress
    background-color: var(--danger)

  .avv-toast
    .avv-toast-icon.error
      display: inline-block

.avv-toast-warning
  background-color: var(--warning-bg)

  .toast-progress
    background-color: var(--warning)

  .avv-toast
    .avv-toast-icon.warning
      display: inline-block

.avv-toast-info
  background-color: var(--info-bg)

  .toast-progress
    background-color: var(--info)

  .avv-toast
    .avv-toast-icon.info
      display: inline-block

.toast-progress
  position: absolute
  left: 0
  bottom: 0
  height: 4px
  background-color: #000000
  opacity: 0.4
