$base-url: 'https://pb-dev-avvillas.avaldigitallabs.com'
$base-url-fonts: '../../node_modules/@avaldigitallabs/bavv-mb-lib-design-system-core/assets/fonts/Onest/'
$base-url-icons: '/assets/fonts/icons'
