//Fonts
//
$font-size-base:   16px;
$font-size-sm:     18px !default;

//Breakpoints
//
$max-width-sm: 412px;

// Spacing
//
$spacer: 8px;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: $spacer,           // 8px
    2: ($spacer * 1.5),   // 12px
    3: ($spacer * 2),     // 16px
    4: ($spacer * 3),     // 24px
    5: ($spacer * 4)      // 32px
  ),
  $spacers
);

$spacer-1: map_get($spacers, 2); // 12px
$spacer-2: map_get($spacers, 3); // 16px
$spacer-3: map_get($spacers, 4); // 24px
$spacer-4: map_get($spacers, 5); // 32px

// Box Shadow
//
$box-shadow: 0 2px 4px 0 rgba(65, 74, 83, 0.3);
