<ion-content [forceOverscroll]="false" class="content-generic-stepper">
  <app-generic-stepper
    [form]="form"
    [data]="data"
    [steps]="steps"
    [title]="'TRANSFERS.REQUEST_MONEY.TITLE' | translate"
    [backUrl]="backUrl"
    [exitData]="exitData"
    [currentSlide]="currentSlide"
    (nextStep)="setNextStep($event)"
    (stepSelected)="stepSelected($event)"
    (slideSelected)="slideSelected($event)"
    [template]="template">>
  </app-generic-stepper>
</ion-content>

<ng-template
  #template
  let-key="key"
  let-screen="data"
  let-runNextStep="nextStep">
  <div [ngSwitch]="screen">
    <app-transfers-cel2cel-request-toward
      *ngSwitchCase="'amount'"
      [form]="form"
      (continue)="runNextStep(key)">
    </app-transfers-cel2cel-request-toward>
  </div>
</ng-template>
