ion-content
    border-bottom: 8px solid var(--red-1)
    .container
        display: flex
        flex-direction: column
        padding: 24px 16px 
        height: 100%
        justify-content: space-between
        gap: 32px
        &__header
            display: flex
            flex-direction: column
            align-items: center
            gap: 16px
            &__info
                display: flex
                flex-direction: column
                align-items: center
                gap: 16px
                text-align: center
            img
                height: 72px
                width: 72px
        
        .actions
            display: flex
            flex-direction: column
            gap: 8px
            .avv-link.btn
                height: 48px