<div class="security-biometric-password-container">
  <p class="semi-bold">{{ 'CHANGE_PASSWORD.CURRENT_PASSWORD_TITLE' | translate }}</p>

  <form *ngIf="form" (ngSubmit)="runVerify()" class="security-biometric-password-fields">
    <small class="security-biometric-password-subtitle">
      {{ 'CHANGE_PASSWORD.FIELDS.CURRENT_PASSWORD' | translate }}
    </small>

    <avv-password
            class="security-biometric-password-input"
            [control]="password"
            [hideCharacters]="true"
            [autoFocus]="false"
            [showEye]="true">
    </avv-password>

    <button class="avv-btn-primary security-biometric-password-btn"
            type="submit"
            [id]="'biometric-password-btn'"
            [disabled]="!form.valid">
      {{ 'ACTIONS.CONTINUE' | translate | uppercase }}
    </button>
  </form>

</div>
