.aval-key-details
    display: flex
    flex-direction: column
    gap: 8px

    padding: 16px 16px 0 16px
    &__value
        max-width: 38vw
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    &__logo
        display: flex
        gap: 8px
        .icon
            color: #2666EC
            margin: auto 0
            font-size: 20px

    &__content
        display: flex
        justify-content: space-between

    &__actions
        display: flex
        gap: 8px
        color: #2666EC
        .icon
            font-size: 20px
