@import 'utils'

.barcode-scanner-container
  position: relative

  .scanner-container
    position: absolute
    z-index: 1
    inset: 0
    width: 100vw
    height: 100vh

  .user-guidance-container
    position: relative
    z-index: 2
    height: 100vh
