@import 'utils'

.security-biometrics-alert-container
  padding: 40px $spacer-2
  text-align: center

  .security-biometrics-alert-image
    margin-bottom: 40px

  .security-biometrics-alert-title
    max-width: 240px
    margin: 0 auto $spacer

  .security-biometrics-alert-description
    max-width: 290px
    margin: 0 auto 40px

  .security-biometrics-alert-btn
    margin-bottom: $spacer-2
