.transfer-survey-container
  padding: 16px 16px calc(16px + var(--safe-area-inset-bottom))
  position: relative
  background-color: var(--white)
  .survey-container
    width: calc(100% - 24px)
    text-align: left
  .header
    display: flex
    justify-content: space-between
    align-items: center
