@import "utils"
.container
  display: flex
  flex-direction: column
  gap: 1.5rem
  padding: 1.5rem 1rem

.form-container
  .title
    font-size: 1rem
    font-weight: 400
    line-height: 1.5rem

  .renew
    font-size: 14px
    font-weight: 400
    line-height: 20px
    text-align: left
    text-underline-position: from-font
    text-decoration-skip-ink: none

  .consult-rate
    font-size: 12px
    font-weight: 400
    line-height: 16px
    text-align: left
    text-underline-position: from-font
    text-decoration-skip-ink: none

  .about-container
    display: flex
    flex-direction: column
    gap: 0.5rem

.dropdown-container
  margin: 1rem 0

.card
  border: 1px solid #DEE1E4
  padding: 1rem
  margin: 1rem 0

.title
  font-size: 14px
  font-weight: 400
  line-height: 20px
  text-align: center
  text-underline-position: from-font
  text-decoration-skip-ink: none



