@import 'utils'

ion-modal.modal-default.show-modal:last-of-type
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4) !important
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32) !important


.digital-debit-card-use
  &-container
    background: var(--white)
    padding: 40px $spacer-2 calc(#{$spacer-4} + var(--safe-area-inset-bottom))

    ul li
      margin-bottom: $spacer-2

  &-image
    width: 100%
    text-align: center
