@import 'utils'
.avv-alert-link
  font-size: 14px

  i
    font-size: 24px
    position: relative
    left: 8px
    top: 5px

.login-problems-link
  margin-top: $spacer-2
  color: #0048DB
  font-size: 14px