@import 'utils'

.transfers-avv-account-toward
  ::ng-deep
    .form-input
      padding: 0
      margin-bottom: $spacer-4

    .avv-radio-input
      .radio-container
        margin: $spacer-3 0 $spacer-4


  &-bank-name
    display: flex

    i
      font-size: 24px
      margin-right: $spacer-2
