@import 'utils'

.transfer-aval-key
  .transfer-aval-key-content
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto
    gap: $spacer-3

    ::ng-deep .form-input
      padding: 0
      margin-bottom: 0 !important

    .input-with-help-text
      display: flex
      flex-direction: column
      gap: $spacer
