<ion-content [forceOverscroll]="false">
  <app-headers
    class="change-password-header"
    #header
    *ngIf="!isScreen(screenType.completed)"
    [title]="'CHANGE_PASSWORD.TITLE' | translate"
    [type]="header?.headerType?.whiteSecondary">
  </app-headers>

  <app-current-password
          *ngIf="isScreen(screenType.currentPassword)"
          [form]="form"
          (continue)="changeScreenType(screenType.newPassword)">
  </app-current-password>

  <app-new-password
          *ngIf="isScreen(screenType.newPassword)"
          [form]="form"
          (changePassword)="changePassword()">
  </app-new-password>

  <app-completed-password
          *ngIf="isScreen(screenType.completed)"
          (goToHome)="goToHome()">
  </app-completed-password>
</ion-content>
