<ion-content class="content-generic-stepper" [forceOverscroll]="false">
  <app-generic-stepper
    [form]="form"
    [data]="data"
    [steps]="steps"
    [title]="'DIGITAL_DEBIT_CARD.ACTIVATE.HEADER_TITLE' | translate"
    [exitUrl]="[activateUrlBackTo$ | async]"
    [exitData]="exitData"
    [currentSlide]="currentSlide"
    (nextStep)="setNextStep($event)"
    (stepSelected)="stepSelected($event)"
    (slideSelected)="slideSelected($event)"
    [template]="template">
  </app-generic-stepper>
</ion-content>

<ng-template
  #template
  let-key="key"
  let-screen="data"
  let-runNextStep="nextStep">
  <div [ngSwitch]="screen">
    <app-activate-virtual-credit-card-config
      *ngSwitchCase="activateDigitalDebitCardSlide.config"
      [form]="form"
      (continue)="runNextStep(key)"
    ></app-activate-virtual-credit-card-config>
    <app-activate-virtual-credit-card-confirm
      *ngSwitchCase="activateDigitalDebitCardSlide.confirm"
      [form]="form"
      (activate)="activateVirtualCreditCard()"
      (backStep)="runNextStep(activateDigitalDebitCardSlide.from)"
    ></app-activate-virtual-credit-card-confirm>
  </div>
</ng-template>
