@import 'utils'

.onboarding-container
  display: grid
  grid-template-rows: 50vh 1fr
  height: 100vh

  &-slides
    height: 50vh
    width: 100%

.onboarding-panel
  +flex(center, start, column)
  gap: $spacer-3
  background-color: var(--white)
  bottom: var(--safe-area-inset-bottom)
  z-index: 1
  min-height: 245px

  .onboarding-pager
    +flex(center, space-between)
    width: 72px

    div
      width: 8px
      height: 8px
      transition: .1s
      border-radius: 50%
      background-color: var(--gray-2)

      &.active
        width: 24px
        border-radius: 6px
        background-color: var(--blue-1)

  .onboarding-content
    min-height: 135px
    +flex(center, center, column)

    .onboarding-section
      +flex(center, center, column)
      text-align: center
      width: 100vw
      flex: 1
      color: #252b31

      p
        @media screen and (max-height: 680px)
          font-size: 14px

      .onboarding-title
        font-size: 18px
        color: #252b31

      .onboarding-subtitle
        color: #252b31

      .logo
        width: 8rem
        height: 4rem

  .onboarding-continue
    +flex(center, flex-end)
    width: 100vw

    .onboarding-button
      +flex(center, center)
      padding: 8px 16px 19px

      p,
      i
        color: var(--blue-1)

      i
        font-size: 24px
        margin-left: 11px

.onboarding-close-btn
  position: absolute
  top: calc(#{$spacer} + var(--safe-area-inset-top))
  right: $spacer
  padding: $spacer
  font-size: 24px
  z-index: 2

.onboarding-img
  display: flex
  flex-direction: column
  padding: 3rem 0 0
  justify-content: end
  height: 100%
