.transfer-contacts-toward-step
  &-title
    padding: 32px 0 16px

  &-btn-link
    margin-top: 32px

  &-other-person-options
    .icons-content
      padding: 30px 16px

  ::ng-deep .contact-book .form-input
    padding-top: 0
