@import 'utils'

.find-other-features-container
  +flex(flex-start, space-between)
  margin: 0 $spacer-4
  padding: $spacer
  border-radius: 4px
  border: dashed 1px var(--gray-7)

  > i
    margin-right: $spacer

  i, p
    color: var(--gray-7)
