<div class="completed-password-container">

  <img class="completed-password-img" [src]="'ilus-manos.svg' | imageUrl" draggable="false" alt="">

  <p class="semi-bold completed-password-title">
    {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_TITLE' | translate }}
  </p>

  <p class="semi-bold small completed-password-sub-title">
    {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_SUB_TITLE' | translate }}
  </p>

  <ul class="avv-list-red-point completed-password-list">
    <li>
      <p class="small">
        {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_DESCRIPTION_1' | translate }}
      </p>
    </li>
    <li>
      <p class="small">
        {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_DESCRIPTION_2' | translate }}
      </p>
    </li>
  </ul>

  <button class="avv-btn-primary" (click)="goToHome.emit()">
    {{ 'CHANGE_PASSWORD.COMPLETE_PASSWORD_BUTTON' | translate | uppercase }}
  </button>
</div>
