@import 'utils'

.completed-password-container
  +flex(center, center, column)
  padding: 48px 16px
  text-align: center

  .completed-password-img
    margin-bottom: $spacer-3

  .completed-password-title
    max-width: 224px
    margin-bottom: 40px

  .completed-password-sub-title
    margin-bottom: 24px

  .completed-password-list
    margin-bottom: 40px

