@import 'utils'

.contacts-container
  padding: $spacer-2 $spacer-2 calc(#{$spacer-4} + var(--safe-area-inset-bottom))

  &-empty
    padding: 60px 0
    text-align: center

    img
      max-width: 100px
      margin-bottom: 8px

    p
      color: var(--gray-1)
      font-size: 16px
      font-weight: 600
      line-height: 1.5
      text-align: center

