@import 'utils'

.security-notifications-confirm
  &-container
    display: block
    padding: $spacer-4 $spacer-2
    min-height: calc(100vh - 64px - var(--safe-area-inset-top) - var(--safe-area-inset-bottom))
    text-align: center
    overflow-y: auto

  &-icon
    margin: 8px 0 40px

  &-title
    margin-bottom: $spacer-2

  &-subtitle
    margin: 0 $spacer-3 $spacer-4
