@import 'utils'

.social-security-value-container

  .social-security-value-title
    padding: $spacer-4 $spacer-2

  .social-security-value-panel
    padding: $spacer-2
    background-color: var(--gray-4)

    .social-security-value-data
      padding: 0 $spacer-1
      text-align: left
      background-color: var(--gray-4)

      .social-security-value-name
        margin-bottom: 2px

      .social-security-value-amount
        +flex(center, space-between)
        padding: $spacer-2  0


