.bre-b-key-details
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 8px

    padding: 16px

    &__value
        max-width: 38vw
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    &__logo
        display: flex
        gap: 8px
        .icon
            color: #2666EC
            margin: auto 0
            font-size: 20px

    &__content
        display: flex
        justify-content: space-between

    &__actions
        display: flex
        gap: 8px
        color: #2666EC
        .icon
            font-size: 20px
    span.divider
        width: 20px
        height: 1px
        rotate: 90deg
        background-color: #BABABA
        margin: auto
