<app-headers #header [closeUrl]="'/'" [title]="'POCKETS.DETAIL.TITLE' | translate"
             [type]="header?.headerType?.redTertiary">
</app-headers>

<ion-content [forceOverscroll]="false">
  <div class="pocket-detail-container">
    <ng-container *ngTemplateOutlet="(working$ | async) ? working : (completed$ | async) ? content : noContent">
    </ng-container>
  </div>
</ion-content>

<ng-template #working>
  <app-skeleton-pocket-detail></app-skeleton-pocket-detail>
</ng-template>

<ng-template #noContent>
  <div class="pocket-detail__no-content">
    <app-pocket-without-detail (closePocketDetail)="closePocketDetail()"></app-pocket-without-detail>
  </div>
</ng-template>

<ng-template #content>
  <div class="pocket" *ngIf="pocket$ | async as pocket">
    <section class="pocket__resume">
      <div class="pocket__header">
        <span class="icon-bolsillos pocket__icon"></span>
        <h5 id="pocket-description" class="avv-text__title">{{ pocket.description | capitalize }}</h5>
      </div>
      <div class="pocket__progress">
        <app-pocket-progress [progress]="pocket.progress" [icon]="(pocket.pocketCategory | pocketCategory).icon">
        </app-pocket-progress>
        <div class="pocket__progress-information">
          <p class="pocket__progress-title avv-text__paragraph">{{
              'POCKET_WITH_RETURNS.POCKET_DETAIL.SAVED_MONEY' |
                translate
            }}
          </p>
          <p class="pocket__progress-title avv-text__paragraph" [innerHtml]=" pocket.amountSaved | currencyFormat">
          </p>
        </div>
      </div>
      <div>
        <ul class="pocket__actions">
          <ng-template *ngFor="let action of actions" [appFeatureToggle]="action.featureFlagKey">
            <li [id]="action.id">
              <div class="action-item" (click)="runAction(action.type)" [utag]="action.utag"
                   [utagCategory]="action.utagCategory">
                <div class="action-item-image">
                  <img [src]="action.icon | imageUrl:true" [alt]="action.label">
                </div>
                <small class="action-item-description">
                  {{ action.label }}
                </small>
              </div>
            </li>
          </ng-template>
        </ul>
      </div>
    </section>
    <app-tabs [tabs]="tabs$ | async">
      <ng-template>
        <app-pocket-card [pocket]="pocket"></app-pocket-card>
      </ng-template>
      <ng-template>
        <app-pocket-movements
          [accountType]="urlParams.type"
          [idParent]="urlParams.id_parent"
          [pocketId]="urlParams.number"></app-pocket-movements>
      </ng-template>
    </app-tabs>
  </div>
</ng-template>