@import 'utils'

.digital-debit-card-reissue

  &-header
    width: 100%
    +flex(center, space-between)
    padding: calc(8px + var(--safe-area-inset-top)) $spacer $spacer
    background-color: var(--white)

    &-back
      +flex(center, flex-start)

      i
        font-size: 24px
        color: var(--gray-8)
        padding: 8px

      .header-title
        color: var(--gray-8)
        white-space: nowrap
        overflow: hidden
        padding-left: 8px
        text-overflow: ellipsis

    &-close
      display: flex

      i
        font-size: 24px
        color: var(--gray-8)
        padding: 8px

  &-container
    padding: $spacer-1 $spacer-3 calc(#{$spacer-4} + var(--safe-area-inset-bottom))
    +flex(center, center, column)
    gap: $spacer-4

    .text-center
      h6
        font-size: 20px

      img
        width: 250px

      p
        font-size: 14px


    ul
      display: flex
      flex-direction: column
      gap: $spacer-2

    .actions
      width: 100%
