<ion-content [forceOverscroll]="false">
  <div class="digital-debit-card-reissue-header">
    <div class="digital-debit-card-reissue-header-back">
      <i class="icon-back header-back-icon" (click)="closeModal()"></i>
      <h5 class="digital-debit-card-card-reissue-header-title">
        {{ 'DIGITAL_DEBIT_CARD.REISSUE.HEADER_TITLE' | translate }}
      </h5>
    </div>
    <div class="digital-debit-card-reissue-header-close">
      <i class="icon-salir header-close-icon" (click)="closeModal()"></i>
    </div>
  </div>

  <div class="digital-debit-card-reissue-container">
    <div class="text-center">
      <h6 class="semi-bold mb-3">{{ 'DIGITAL_DEBIT_CARD.REISSUE.TITLE' | translate }}</h6>
      <img [src]="'digital-debit-card.svg' | imageUrl" class="digital-debit-card-image" alt="">
    </div>

    <ul class="avv-list-red-point">
      <li>
        <p class="small">{{ 'DIGITAL_DEBIT_CARD.REISSUE.LIST_1' | translate }}</p>
      </li>
      <li>
        <p class="small">{{ 'DIGITAL_DEBIT_CARD.REISSUE.LIST_2' | translate }}</p>
      </li>
      <li>
        <p class="small">{{ 'DIGITAL_DEBIT_CARD.REISSUE.LIST_3' | translate }}</p>
      </li>
      <li>
        <p class="small">{{ 'DIGITAL_DEBIT_CARD.REISSUE.LIST_4' | translate }}</p>
      </li>
      <li>
        <p class="small">{{ 'DIGITAL_DEBIT_CARD.REISSUE.LIST_5' | translate }}</p>
      </li>
    </ul>
    <div class="actions">
      <button id="digital-debit-card-reissue-back-btn"
              class="avv-btn-primary"
              (click)="closeModal()">
        {{ 'ACTIONS.BACK2' | translate | uppercase }}
      </button>
      <button id="digital-debit-card-reissue-btn"
              class="avv-btn-secondary mt-4"
              (click)="reissueDigitalDebitCard()">
        {{ 'DIGITAL_DEBIT_CARD.REISSUE.REISSUE_BTN' | translate | uppercase }}
      </button>
    </div>
  </div>
</ion-content>
