@import 'utils'

.complementary-services-complete
  &-container
    +flex(center, flex-start, column)
    text-align: center
    padding: 40px $spacer-2
    min-height: calc(100vh - 64px - var(--safe-area-inset-top) - var(--safe-area-inset-bottom))

  &-img
    margin-bottom: 40px

  &-title
    max-width: 265px

  &-subtitle
    margin-bottom: 40px
    max-width: 265px
