.input-password-container
  display: inline-block
  .password-input
    &.error
      input, input:focus
        border: solid 1px var(--gray-7) !important
      .password-bar
        display: block
        background-color: var(--red-3)
  fieldset
    border: none
    margin: 0
    padding: 0
    position: relative
    display: inline-block

    div
      position: relative
      display: inline-block
      z-index: 0

      &:first-child
        input
          margin-left: 0
          padding: 0

      .password-char
        display: none

      .password-bar
        display: none
        position: absolute
        width: 100%
        height: 3px
        max-width: 32px
        right: 0
        bottom: 1px
        border-radius: 0 0 2px 2px
        background-color: var(--blue-1)

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0

      input[type=number]
        -moz-appearance: textfield

      input
        margin: 0 0 0 8px
        text-align: center
        font-size: 20px
        border: solid 1px var(--gray-3)
        outline: none
        transition: all .2s ease-in-out
        border-radius: 4px
        width: 32px
        height: 32px

        &:focus
          border: solid 1px var(--blue-1) !important

          + .password-bar
            display: block

  &-eye
    display: inline-block
    cursor: pointer

    .icon
      color: var(--gray-2)
      font-size: 24px
      font-weight: bold
      position: relative
      top: 5px

      &.hide
        display: none

  &.hide
    fieldset
      div
        .password-char
          position: absolute
          right: 7px
          top: -3px
          z-index: -1
          font-size: 50px
          display: inline-block

        input
          color: transparent
          background-color: transparent !important

          &::selection
            background: transparent

.message-error
  font-size: 12px
  color: var(--red-3)
  display: flex
  margin-top: 8px
  margin-left: 16px
  justify-content: flex-start
