<div
        class="input-password-container"
        [ngClass]="{'hide': hideCharacters}">
    <fieldset>
        <div class="password-input" [ngClass]="{'error': hasError}">
            <div *ngFor="let key of formKeys; index as i">
                <input
                        (input)="onInput($event)"
                        (keyup)="keyUp(i, $event)"
                        (keydown)="goToPrevInput(i, $event)"
                        (click)="selectInputText(i, $event)"
                        (copy)="!allowCopy ? $event.preventDefault(): null"
                        (paste)="!allowPaste ? $event.preventDefault(): onPaste($event)"
                        (cut)="!allowCut ? $event.preventDefault(): null"
                        [type]="'text'"
                        inputmode="tel"
                        min="0"
                        max="9"
                        [maxlength]="(autocomplete === 'one-time-code' && i !== formKeys.length - 1) ? numCharacters : 1"
                        [size]="(autocomplete === 'one-time-code' && i !== formKeys.length - 1) ? numCharacters : 1"
                        [formControl]="formG.get(key)"
                        id="{{key}}"
                        autocomplete="{{autocomplete}}">
                        <span class="password-bar"></span>
              <span class="password-char" *ngIf="!!formG.get(key)?.value && formG.get(key)?.value.length > 0">{{ symbol }}</span>
            </div>
        </div>
    </fieldset>
    <span class="message-error" *ngIf="hasError">{{errorMessage}}</span>
    <div
            *ngIf="showEye"
            class="input-password-container-eye"
            (click)="showPassword()">
        <span
                [ngClass]="{'hide': !hideCharacters}"
                class="icon icon-ver show"
                title="icon-ver"></span>
        <span
                [ngClass]="{'hide': hideCharacters}"
                class="icon icon-bolquear_vista"
                title="icon-bolquear_vista"></span>
    </div>
</div>
