.telephone-companies-step
  &-list
    li
      .avv-contact-card
        .bg
          &-claro
            background-color: #e02020

          &-movistar
            background-color: #1eb6e5

          &-tigo
            background-color: #396bb4

          &-virgin
            background-color: #ff0a0a
