@import 'utils'

.media-activation-card
  display: flex
  justify-content: space-between
  position: relative
  @include shadow(var(--white), 4px, 0 2px 8px rgba(65, 74, 83, 0.3), initial)

  &.no-shadow
    box-shadow: initial
    border: solid 1px var(--gray-6)

  .content
    &-left
      display: flex
      flex-direction: column
      padding: 12px 0 12px 16px

      .title
        font-size: 14px
        font-weight: 600
        line-height: 1.71
        letter-spacing: normal
        color: var(--gray-8)
        text-align: left

      .product-number
        display: flex

        .franchise-img
          width: 16px
          height: 16px
          object-fit: contain
          margin-right: $spacer

    &-right
      +flex(flex-end, center, column)
      padding: $spacer 0

      &-icon
        font-size: 24px
        color: var(--blue-1)
        padding: 0 8px 8px
