@import 'utils'

.confirm-pocket-with-returns
  &__header
    display: flex
    flex-direction: column
    gap: 24px
    align-items: center
    padding-bottom: 24px
    img
      width: 80px
      height: 80px
  &__actions
    display: flex
    flex-direction: column
    gap: 16px
    padding-top: 32px
  &__info
    padding-top: 0.5rem

  &__list
    padding: 0

  &__item
    display: flex
    justify-content: space-between

    padding: 16px 0 20px 0
    border-bottom: 1px solid #EBEDEF
