@import 'utils'

.security-home-container
  background-color: var(--gray-5)
  padding: $spacer-3 0
  height: calc(100vh - calc(56px + var(--safe-area-inset-bottom)))

  .security-home-alert
    font-size: 24px
    color: var(--warning)
