@import 'utils'

.alert-options
  &-container
    padding: $spacer-2 $spacer-2 $spacer-4
    background-color: var(--white)
    text-align: center

    .close
      width: 100%
      text-align: right

      i
        font-size: 20px

  &-btn
    background-color: var(--gray-4)
    margin-top: 18px
    font-size: 16px
    font-weight: 400

    i
      font-size: 18px
