<div style="height: 4px; background-color: #00C783; width: 100%;"></div>
<div class="transfer-survey-container"
     style="">
  <div class="header">
    <h3 style="font-size: 20px; font-weight: 400;">Encuesta de satisfacción</h3>
    <i class="icon-salir" style="font-size: 22px;" (click)="closeModal()"></i>
  </div>
  <div style="align-items: center; width: 100%; display: flex; flex-direction: column;">
    <div class="py-3">
      <img src="assets/img/icons/check.svg" style="max-width: 62px;" class="mt-2">
    </div>
    <div style="font-weight: bold; font-size: 14px;" class="py-1">
      Gracias por tus respuestas
    </div>
    <div style="font-size: 14px; text-align: center;" class="py-1">
      Trabajaremos en brindarte una mejor experiencia.
    </div>
  </div>
  <button class="avv-btn-primary my-2" (click)="closeModal(true)"> FINALIZAR </button>
</div>
