<div class="pocket-detail-loading">
    <ion-skeleton-text animated></ion-skeleton-text>
    <div class="pocket-detail-loading-progress">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>

    </div>
    <ul class="pocket-detail-loading-actions">
        <li>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
        </li>
        <li>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
        </li>
        <li>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
        </li>
        <li>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
        </li>
    </ul>
    <div class="pocket-detail-loading-panel">
        <ion-skeleton-text animated></ion-skeleton-text>
    </div>
</div>