<ion-content [forceOverscroll]="false">
  <article class="fill-current-password-container" [ngClass]="{'keyboard-shown': keyboardShown}">
    <header class="fill-current-password-header">
      <i class="icon-previosly" id="fill-current-password-back" (click)="showExitModal()"></i>
    </header>
    <section class="fill-current-password-cover" [hidden]="keyboardShown">
      <small class="app-version" *ngIf="version$ | async as version">V {{ version }}</small>
      <img [src]="'login-text-image.png' | imageUrl" class="fill-current-password-cover__text-image"
           draggable="false"
           alt=""/>
      <img [src]="'login-picture.webp' | imageUrl" class="fill-current-password-cover__picture" draggable="false"
           alt=""/>
    </section>
    <section class="fill-current-password-content">
      <div class="fill-current-password-body">
        <form class="fill-current-password-form"
              [formGroup]="passwordForm" (ngSubmit)="run()" *ngIf="passwordForm">

          <h3 class="fill-current-password-title">
            {{ 'AUTH.STEP.FILL_CURRENT_PASSWORD.HI' | translate }}
          </h3>

          <p class="semi-bold fill-current-password-sub-title">
            {{ 'AUTH.STEP.FILL_CURRENT_PASSWORD.DESCRIPTION' | translate }}
          </p>

          <avv-password
            [control]="password"
            [hideCharacters]="true"
            [autoFocus]="false"
            [showEye]="false">
          </avv-password>

          <div class="fill-current-password-buttons">
            <button class="avv-btn-primary fill-current-password-btn"
                    type="submit"
                    [id]="'fill-current-password-button'"
                    [disabled]="!passwordForm.valid">
              {{ 'ACTIONS.CONTINUE' | translate | uppercase }}
            </button>
          </div>

          <p class="semi-bold fill-current-password-forgot-link" (click)="redirectForgotPassword()"
             *ngIf="isForgotPasswordEnabled">
            {{ 'AUTH.STEP.FILL_CURRENT_PASSWORD.FORGOT_PASSWORD' | translate }}
            <i class="icon-seguridad2"></i>
          </p>
        </form>
      </div>
      <app-footer
        class="fill-current-password-footer"
        [menuListLeft]="menuListLeft"
        [menuListRight]="menuListRight"
        [isColorBlack]="false">
      </app-footer>
    </section>
  </article>
</ion-content>
