@import 'utils'

.container-preferred-customer
  text-align: center
  z-index: 0

  p 
    font-size: 14px
    line-height: 20px
    padding: 0 25px
    margin-bottom: 14px

  &.pf-client
    display: flex
    justify-content: center
    align-items: center
    gap: 16px
    padding: 24px 0
    
    & h4 
      font-size: 20px
      text-align: left
      width: 37%

  .low-line
    height: 1px
    background-color: var(--gray-6)
    margin: $spacer-4 0

  > a
    color: initial
    text-decoration: none

  .avv-skeleton
    height: 42px


