ion-content
    border-bottom: 8px solid #CC0119
    .container
        padding: 1.5rem 1rem
        display: flex
        flex-direction: column
        gap:1.5rem
    .title
        font-size: 1rem
        text-align: center
    .customer-registered
        display: flex
        justify-content: center
        text-align: center
        flex-direction: column
        gap: 1.5rem
        &__main
        
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 24px
            &__images
                display: flex
                gap: 1rem
                align-items: center
                &__separator
                    width: 1px
                    height: 26px
                    background-color:#D6D6D6
            &__title
                font-weight: 500
                font-size: 18px
            &__subtitle
                font-weight: 400
                font-size: 16px
        &__card
            border: 1px solid #DFDFDF
            border-radius: 4px
            text-align: left
            padding: 1rem
            .avv-icons-btn-list-item-new
                position: relative
                top: -1rem
                left: -1rem
            &__info
                
                &__title
                    h5
                        font-size: 14px
                        font-weight: 700
                    h4
                        font-size: 11px 
                        font-weight: 14px
                        color: #727272
            &__info-container
                h5
                    font-weight: 400
                    font-size: 12px
                h4
                    font-weight: 500
                    font-size: 12px
