@import 'utils'

.payment-unregistered-step-service
	padding: $spacer-4 $spacer-2

	.title
		padding-bottom: $spacer-4

	.btn-codebar
		margin-bottom: $spacer-4
		> span
			font-size: 24px
			position: relative
			top: 5px
			left: 10px
