<div class="new-password-container">
  <p class="semi-bold">{{ 'CHANGE_PASSWORD.NEW_PASSWORD_TITLE' | translate }}</p>
  <small class="new-password-container-description">
    {{ 'CHANGE_PASSWORD.NEW_PASSWORD_DESCRIPTION' | translate }}
  </small>


  <form *ngIf="form" [formGroup]="form" (ngSubmit)="changePassword.emit()" class="new-password-container-fields">
    <small class="new-password-container-subtitle">
      {{ 'CHANGE_PASSWORD.FIELDS.NEW_PASSWORD' | translate }}
    </small>

    <avv-password
            class="new-password-container-input"
            id="new-password-field"
            [control]="form.get('newPassword')"
            [hideCharacters]="true"
            [autoFocus]="false"
            [showEye]="true">
    </avv-password>

    <small class="new-password-container-subtitle">
      {{ 'CHANGE_PASSWORD.FIELDS.CONFIRM_PASSWORD' | translate }}
    </small>

    <avv-password
            class="new-password-container-input"
            id="confirm-new-password-field"
            [control]="form.get('confirmPassword')"
            [hideCharacters]="true"
            [autoFocus]="false"
            [showEye]="true">
    </avv-password>

    <small class="new-password-container-error"
           *ngIf="form?.controls?.confirmPassword?.errors?.doNotMatch as text">
      {{ text | translate }}
    </small>

    <app-errors-for-check 
      [control]="form.get('confirmPassword')"
      [hasError]="!!form?.controls?.confirmPassword?.errors?.doNotMatch">
    </app-errors-for-check>

    <button class="avv-btn-primary new-password-container-btn"
            type="submit"
            [disabled]="!form.valid">
      {{ 'ACTIONS.CREATE' | translate | uppercase }}
    </button>
  </form>

</div>
