<div class="pocket-without-movements">
    <img [src]="'/assets/images/illustrations/pockets/results.svg' | imageUrl:true"
        [alt]="'POCKET_WITH_RETURNS.POCKET_DETAIL.WITHOUT_MOVEMENTS.TITLE' | translate">
    <h3 class="pocket-without-movements__title">
        {{"POCKET_WITH_RETURNS.POCKET_DETAIL.WITHOUT_MOVEMENTS.TITLE" | translate}}
    </h3>
    <p class="pocket-without-movements__description">
        {{"POCKET_WITH_RETURNS.POCKET_DETAIL.WITHOUT_MOVEMENTS.DESCRIPTION" | translate}}
    </p>
</div>