<div id="main-wrapper">

  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <app-breadcrumbs></app-breadcrumbs>

      <router-outlet></router-outlet>

      <!--
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Blank Page</h5>
              <p class="card-text">This is a blank page.</p>
            </div>
          </div>
        </div>
      </div>
      -->

    </div>
    <footer class="footer">
      © 2025 Admin Pro by oscaArias.com
    </footer>
  </div>

</div>