ion-content
    border-bottom: 8px solid #CC0119
.container
    display: flex
    flex-direction: column
 

    .content-container
        padding: 1.5rem 0
    .title
        font-weight: 500
        font-size: 1rem
        color: #3F3F3F
        text-align: center
    .subtitle
        font-size: 14px
        text-align: center

