@import 'utils'

.media-activation-home
  &-container
    overflow: scroll
    background-color: var(--white)

.success-container
  .avv-panel-empty-text
    ::ng-deep .link
      color: var(--blue-1)
      font-weight: 600
      text-decoration: underline

.avv-ticket-content
  margin-top: 0
