<ion-content class="content-generic-stepper" [forceOverscroll]="false">
  <app-generic-stepper
    [form]="form"
    [data]="data"
    [steps]="steps"
    [title]="'PAYMENTS.SERVICES.TITLE_MULTIPLE' | translate"
    [backUrl]="backUrl"
    [exitData]="exitData"
    [currentSlide]="currentSlide"
    (nextStep)="setNextStep($event)"
    (stepSelected)="stepSelected($event)"
    (slideSelected)="slideSelected($event)"
    [template]="template">
  </app-generic-stepper>
</ion-content>

<ng-template
  #template
  let-key="key"
  let-screen="data"
  let-runNextStep="nextStep">

  <div [ngSwitch]="screen">
    <app-payment-services-list
      *ngSwitchCase="'services'"
      [form]="form"
      [paymentBillsControl]="paymentBills"
      [informationText]="'PAYMENTS.SERVICES.SERVICE_STEP.INFORMATION_TEXT' | translate"
      [services]="services$ | async"
      (showInformation)="setNextStep({ value: StepperTypes.informationPanel })"
      (continue)="runNextStep(key)">
    </app-payment-services-list>
  </div>
</ng-template>
