@import 'utils'

.transfers-container
  display: block
  height: 84vh
  overflow: scroll
  padding: 0 0 calc(#{$spacer-4} + 2*var(--safe-area-inset-bottom) )
  .avv-icons-btn-list
    padding: $spacer-4 $spacer-4 0
.toast-survey
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 4px 6px 4px 7px
  gap: 8px
  position: absolute
  width: 343px
  height: 28px
  right: 16px
  top: 68px
  background: #0048DB
  box-shadow: 0 4px 4px rgba(37, 43, 49, 0.08)
  border-radius: 4px


.favorite-card
  padding: 0 2rem 1rem
