@import 'utils'

.spi-transfer-consent
  position: relative
  background-color: var(--white)
  padding: $spacer-3 $spacer-2 $spacer-4
  max-height: 85vh
  overflow-y: scroll

  &__form
    display: flex
    align-items: center
    gap: $spacer-2

    &-label
      width: 100%
      margin-bottom: 0

  &__description
    position: relative
    max-height: 20vh
    overflow-y: scroll

    &-content
      padding-right: $spacer-2

  &__header
    display: flex
    justify-content: end

    button
      width: auto

      i
        font-size: 24px
        color: var(--gray-5)

  &__figure
    margin: $spacer-3 0

    img
      display: block
      margin: 0 auto
      max-width: 220px

      &.big-img
        max-width: 248px

  &__body
    margin-bottom: $spacer-2

    .bottom-title
      font-size: 16px
      text-align: center
      margin-bottom: 16px

    p
      font-size: 14px
      line-height: 20px
      margin-bottom: 16px

  .footer
    position: sticky
    bottom: 0

    button
      position: relative
      z-index: 2
      font-size: 16px

    &:before, &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 1
      width: 100%
      height: 100%
      background-color: var(--white)

    &:before
      box-shadow: 1px -10px 20px var(--white)

    &:after
      box-shadow: 1px 20px 10px white

  &__skeleton
    border-radius: 50%
    width: 80px
    height: 80px
    margin: 0 auto

.input-checkbox:where([type="checkbox"])
  -webkit-appearance: none
  appearance: none
  width: 24px
  height: 24px
  margin-bottom: auto
  vertical-align: top
  border: 1px solid #5c6b7a
  border-radius: 4px
  background: var(--white) no-repeat center center

.input-checkbox:where([type="checkbox"]):where(:active:not(:disabled), :focus)
  outline: none

.input-checkbox:where([type="checkbox"]):disabled
  background: #F8F9FA

.input-checkbox[type="checkbox"]:checked
  background-image: url("/assets/img/icons/checkbox.svg")
  background-color: var(--success)
  border-color: transparent
