@import "utils"

.payment-services-create-scheduling
  padding: calc(#{$spacer-1} + var(--safe-area-inset-top)) $spacer-2 calc(#{$spacer-4} + var(--safe-area-inset-bottom))
  height: 100%
  display: flex
  flex-direction: column

  h2
    margin-bottom: $spacer-3
    padding: 0 $spacer-3
    font-size: $font-size-base
    font-weight: 600
    text-align: center

  form > section > div
    margin-bottom: $spacer-3

  form
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-grow: 1
