<div class="calendar-container">
  <div class="calendar-header">
    <div class="calendar-header-top">
      <p>{{ 'CALENDAR.TITLE' | translate }}</p>
      <i class="icon-salir" (click)="closeModal()"></i>
    </div>

    <div class="calendar-header-bottom">
      <p class="calendar-header-bottom-title">
        {{ data.description| translate }}
      </p>
      <div>
        <div class="avv-calendar-item" id="start-date"
             (click)="active(calendarTypes.from)"
             [ngClass]="{'active': this.activeType === calendarTypes.from}">
          <small>{{ 'CALENDAR.FROM' | translate }}</small>
          <p>{{ calendar.minRange || 'DD/MM/AAAA' }} </p>
        </div>
        <div class="avv-calendar-item" id="end-date"
             (click)="active(calendarTypes.to)"
             [ngClass]="{'active': this.activeType === calendarTypes.to}">
          <small>{{ 'CALENDAR.TO' | translate }}</small>
          <p>{{ calendar.maxRange || 'DD/MM/AAAA' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="calendar-body" #calendarMatrix>
    <div class="calendar-month" *ngFor="let item of calendar.print">
      <div class="month-header {{item.month}}">
        <b>{{ 'MONTHS.' + item.month | translate }}</b>
        <p>{{ item.year }}</p>
      </div>
      <ul class="month-labels">
        <li *ngFor="let label of item.labels">{{ 'CALENDAR.DAY.' + label | translate }}</li>
      </ul>
      <div *ngFor="let row of item.calendar;" class="month-row">
        <div *ngFor="let date of row;" class="month-value {{date.type}}" id="date-{{date.identifier}}"
             [ngClass]="{
                  'disabled': date.disabled,
                  'selected': date.selected || date.minRange || date.maxRange,
                  'in-range': date.inRange,
                  'in-range-right': date.inRangeRight,
                  'in-range-left': date.inRangeLeft,
                  'is-today': date.isToday,
                  'is-weekend': date.isWeekend
                }"
             (click)="selectDay(date)">
          {{ date.value }}
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="calendar-footer">
    <button class="avv-btn-primary"
            [id]="'calendar-btn-confirm'"
            [disabled]="!calendar.valid"
            (click)="closeModal(calendar.selectedDates)">
      {{ 'ACTIONS.CONFIRM' | translate | uppercase }}
    </button>
  </div>
</div>
