<ion-content class="content-generic-stepper" [forceOverscroll]="false">
  <app-generic-stepper
    [form]="form"
    [data]="data"
    [steps]="steps"
    [title]="'POCKETS.EDIT.TITLE' | translate"
    [backUrl]="backUrl"
    [exitData]="exitData"
    [showSteps]="false"
    [currentSlide]="currentSlide"
    (nextStep)="setNextStep($event)"
    (stepSelected)="stepSelected($event)"
    (slideSelected)="slideSelected($event)"
    [template]="template"
    [utagCategory]="POCKET_EDIT_T_CONTINUE.event_category"
    >
  </app-generic-stepper>
</ion-content>

<ng-template
  #template
  let-key="key"
  let-screen="data"
  let-runNextStep="nextStep">

  <div [ngSwitch]="screen">
    <div *ngSwitchCase="'update'">
      <app-pocket-edit-update
        [form]="form"
        [pocket]="pocket$ | async"
        (continue)="runNextStep(key)"
        [utag]="POCKET_EDIT_T_CONFIRM"
      ></app-pocket-edit-update>
    </div>
  </div>

</ng-template>
