<div class="virtual-credit-card-use-container">
  <div class="virtual-credit-card-use-close">
    <i class="icon icon-salir" (click)="closeModal()"></i>
  </div>
  <div class="virtual-credit-card-use-image">
    <p class="semi-bold mb-4">{{ 'VIRTUAL_CREDIT_CARD.USE.TITLE' | translate }}</p>
    <img class="mb-2" [src]="'illustrationsV2/tarjeta-dinero-regular.svg' | imageUrl" alt="virtual-credit-card-use"
         draggable="false">
  </div>

  <p class="virtual-credit-card-use-subtitle">{{ 'VIRTUAL_CREDIT_CARD.USE.SUBTITLE' | translate }}</p>
  <p class="virtual-credit-card-use-subtitle my-4">{{ 'VIRTUAL_CREDIT_CARD.USE.SUBTITLE_2' | translate }}</p>

  <ul class="avv-list-red-point">
    <li>
      <p class="small">
        {{ 'VIRTUAL_CREDIT_CARD.USE.DESCRIPTION.ITEM_1' | translate }}
      </p>
    </li>
    <li>
      <p class="small">
        {{ 'VIRTUAL_CREDIT_CARD.USE.DESCRIPTION.ITEM_2' | translate }}
      </p>
    </li>
  </ul>

  <button id="virtual-credit-card-use-btn" class="avv-btn-primary mt-4" (click)="closeModal()">
    {{ 'ACTIONS.COPY_THAT' | translate | uppercase }}
  </button>
</div>
