.transfer-contacts-products-step
  text-align: left
  padding: 0 16px

  &-list
    > .disabled
      opacity: 0.19
    .transfer-contacts-products-step-item
      border-radius: 6px
      box-shadow: 0 2px 4px 0 rgba(65, 74, 83, 0.3)
      background-color: var(--white)
      margin-bottom: 16px
      height: 74px

      .contact-image
        background-color: var(--white)
        color: var(--gray-1)
        width: initial
        min-width: initial

        i
          margin-left: 24px

      &.phone-number
        .contact-info
          display: flex
          align-items: center
          .name
            font-size: 16px

  &-contact-card
    border: solid 1px var(--gray-9)
    box-shadow: none
    margin-top: 32px
    margin-bottom: 0

    .contact
      &-image
        background-color: #51daa9

      &-info
        .icon
          color: var(--blue-2)
          position: absolute
          top: 27%
          right: 12px
          font-size: 24px

  .transfer-contacts-products-step-list-products-error
    text-align: center
    > img
      width: 72px
      height: 72px

.product-tag
  display: block
  background-color: #EAF0FC
  border-radius: 4px
  color: #0054BF
  font-size: 11px
  font-weight: 700
  padding: 2px 4px
  width: 145px

.product-block
  height: 104px !important

.icon-informacion
  color: #0054BF
  font-size: 24px

.title-popover
  display: flex
  align-items: center
  column-gap: 5px