@import 'utils'

.current-password-container
  padding: 96px $spacer-2
  text-align: center

  ::ng-deep
    .input-password-container
      margin: 0 0 $spacer-2 0
      +flex(center, space-between)

      fieldset
        width: 100%

        .password-input
          +flex(center, space-between)

        div
          &:first-child
            input
              margin-left: 0

          .password-bar
            height: 3px
            max-width: 56px

          input
            margin: 0 0 0 16px
            width: 56px
            height: 56px

      &-eye
        margin-left: 32px

        .icon
          color: var(--gray-2)
          font-size: 24px
          font-weight: bold
          position: relative
          top: 5px

          &.hide
            display: none

      &.hide
        fieldset
          div
            .password-char
              right: 17px
              top: 8px

    .current-password-container-input
      .input-password-container
        margin: 0

  .current-password-container-fields
    width: 100%
    text-align: left
    margin-top: $spacer-4
    padding: 0 $spacer

  .current-password-container-subtitle
    color: var(--blue-1)
    margin-bottom: 4px
    line-height: 1.67

  .current-password-container-btn
    margin-top: 127px

