<div class="current-password-container">
  <p class="semi-bold">{{ 'CHANGE_PASSWORD.CURRENT_PASSWORD_TITLE' | translate }}</p>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="continue.emit()" class="current-password-container-fields">
    <small class="current-password-container-subtitle">
      {{ 'CHANGE_PASSWORD.FIELDS.CURRENT_PASSWORD' | translate }}
    </small>

    <avv-password
            class="current-password-container-input"
            [control]="form.get('currentPassword')"
            [hideCharacters]="true"
            [autoFocus]="false"
            [showEye]="true">
    </avv-password>

    <button class="avv-btn-primary current-password-container-btn"
            type="submit"
            [disabled]="!form.get('currentPassword').valid">
      {{ 'ACTIONS.CONTINUE' | translate | uppercase }}
    </button>
  </form>

</div>
