.block-account-form
  background-color: var(--gray-4)
  &:before
    content: ""
    position: absolute
    top: 0
    width: calc(100% + 32px)
    left: -16px
    z-index: -1
.option-input
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none
  -o-appearance: none
  appearance: none
  position: relative
  top: 6px
  right: 0
  bottom: 0
  left: 0
  height: 22px
  width: 22px
  transition: all 0.15s ease-out 0s
  background: transparent
  cursor: pointer
  display: inline-block
  outline: none
  position: relative
  z-index: 1000
  border: solid 1px #222

.option-input:hover
  background: #9faab7

.option-input:checked
  background: transparent

.option-input:checked::before
  height: 16px
  width: 16px
  position: absolute
  content: ""
  display: inline-block
  text-align: center
  background-color: #0048DB
  border-radius: 50%
  top: 2px
  left: 2px

.option-input:checked::after
  -webkit-animation: click-wave 0.25s
  -moz-animation: click-wave 0.25s
  animation: click-wave 0.25s
  background: transparent
  content: ''
  display: block
  position: relative
  z-index: 100

.option-input.radio
  border-radius: 50%

.option-input.radio::after
  border-radius: 50%


