.stepper-container
  padding-top: 24px

  .stepper-list
    position: relative
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between

    .stepper-line
      position: absolute
      top: 7px
      height: 2px
      border-radius: 0 2px 2px 0
      background-color: var(--blue-1)
      z-index: 1
      transition: .3s

    li
      position: relative
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column

      &:after
        content: ''
        position: absolute
        top: 7px
        left: 50%
        height: 2px
        width: 100%
        background-color: var(--blue-5)

      .stepper-label
        font-size: 0.625rem
        text-align: center
        color: #acbac9

      .stepper-point
        width: 1rem
        height: 1rem
        position: relative
        z-index: 2
        margin-bottom: 5px

        &:after
          content: ''
          position: absolute
          top: 4px
          left: 4px
          width: 8px
          height: 8px
          border-radius: 50%
          background-color: var(--blue-5)

        &:before
          position: absolute
          z-index: 1
          top: 0.3em
          left: 0.3em
          font-size: 0.625rem
          color: var(--white)

      &.active
        .stepper-point
          margin-bottom: 4px

          &:after
            top: 2px
            left: 0
            width: 0.75rem
            height: 0.75rem
            border: solid 2px var(--blue-1)
            background-color: var(--white)

        .stepper-label
          font-size: 0.75rem
          font-weight: 600
          color: var(--blue-1)

      &.completed
        .stepper-point
          box-shadow: 0 2px 8px 0 rgba(65, 74, 83, 0.3)
          border-radius: 50%

          &:after
            top: 0
            left: 0
            width: 1rem
            height: 1rem
            background-color: var(--success)

        .stepper-label
          color: var(--gray-1)

      &:last-child
        &:before, &:after
          display: none
