@import 'utils'

.home-request-products-container
  position: relative
  height: 96px
  z-index: 1
  margin: 16px 0

  &-img
    box-shadow: 0 2px 4px 0 rgba(65, 74, 83, 0.3)
    border-radius: 4px
    position: absolute
    height: 100%
    width: 100%
    object-fit: cover

  &-content
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    text-align: center
    width: 58%
    height: 100%
    float: right
    padding: 8px 12px
    opacity: 0.94
    border-radius: 4px
    background-color: var(--white)

    > .title
      font-size: 14px
      font-weight: 600
      line-height: 1.43
      color: var(--gray-8)
      position: relative

      +media-max-width(320px)
        font-size: 13px

      &:before, &:after
        content: ''
        position: absolute
        left: calc(50% - 15px)
        bottom: -12px
        transform: translateX(-50%)
        width: 28px
        height: 4px
        border-radius: 2px
        background-color: var(--red-1)

      &:after
        left: calc(50% + 15px)
        width: 15px

  &-background
    height: 232px
    background-image: linear-gradient(to bottom, #ffffff, #f1f2fc 17%, #f1f2fc 83%, #ffffff 100%)
