ion-container
    height: 100%
.container
    display: flex
    flex-direction: column
    gap: 1rem
    height: 100%
    border-bottom: 8px solid red
    .content-container
        padding:0 1rem
        display: flex
        flex-direction: column
        gap: 2rem
        .keys-info
            display: flex
            flex-direction: column
            gap: 1rem
        .actions-container
            display: flex
            flex-direction: column
            justify-content: center
            gap: 1rem
        .account-info-container
            display: flex
            flex-direction: column
            gap: 8px
            .account-info-title
                font-size: 14px
                font-weight: 500
            .account-info-card
                display: flex
                gap: 12px
                padding: 16px 0 20px 12px 
                border: 1px solid #DFDFDF
                i
                    font-size: 24px
    .title
        text-align: center
        font-weight: 500
        font-size: 18px
    .subtitle
        font-weight: 400
        font-size: 14px




