@import 'utils'

.avv-btn.btn-google-wallet
  width: auto
  max-width: fit-content
  margin: 0 auto
  display: inline-flex
  justify-content: center
  align-items: center
  gap: $spacer-2
  background-color: #1f1f1f
  border: 1px solid #747775
  color: var(--white)
  font-size: 16px


  &:disabled
    background-color: #4c4c4c

    img
      filter: grayscale(.4)
