@import 'utils'

.social-security-contributor-container
  padding: $spacer-4 $spacer-2

  .social-security-contributor-list
    padding: $spacer-4 0 0

    .avv-contact-card
      margin-bottom: $spacer-2

      .contact-info
        font-size: 0
        padding: 8px 0 8px 16px

        .name
          line-height: 1.71

        .nickname
          font-size: 12px
          margin: 0
          line-height: 1.33
          color: var(--gray-2)

    &-working
      padding: $spacer-4 0 0

      ion-skeleton-text
        width: 100%
        height: 56px
        border-radius: 4px
        margin: 0 0 16px 0

    &-empty
      padding: $spacer-3 0 0

      ion-skeleton-text
        width: 100%
        height: 56px
        border-radius: 4px
        margin: 0 0 16px 0

