.error-without-products-content
  border-bottom: 7px solid var( --red-1)
  display: flex
  align-items: center
  height: 100vh
  .avv-panel-empty
    &-text
      margin-top: 70px
    &-image
      .m-left
        margin-left: 20px
