@import 'utils'

.home-promotions
  &-logo
    background-color: var(--red-4)
    color: var(--white)
    border-radius: 8px
    border-bottom-left-radius: 0
    padding: 4px 8px
    font-weight: 700
    font-size: 14px
    line-height: 20px
    width: 114px
    position: absolute
    top: -12px
    left: 16px

  &-container
    background: var(--gray-13)
    position: relative
    z-index: 0
    margin-top: 24px
    text-align: left
    padding: 24px 0 0
    border-radius: 8px
    box-shadow: 0 2px 4px 0 rgba(65, 74, 83, 0.3)

  &-texts
    padding: 0 16px

  &-title
    padding-bottom: 8px
    font-weight: 700
    font-size: 24px
    line-height: 36px

  &-description
    font-weight: 400
    font-size: 14px
    line-height: 20px


  &-images
    display: block
    text-align: center

    img
      transition: all 1s ease-in-out
      opacity: 0
      max-height: 0
      width: 400px
      margin-top: -48px

      &.active
        opacity: 1
        max-height: inherit
        width: 356px

  &-button
    margin: 0
    position: relative
    font-weight: 700
    font-size: 16px
    line-height: 24px
    top: 220px
    width: 94%
    top: 220px

